body::after {
    content: "mobile";
    font-size: 0;
}

/*------------------------------------------------------------------------- PSEUDO ELEMENTOS PARA BREAKPOINT*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*------------------------------------------------------------------------- CSS RESET*/

a {
    text-decoration: none;
}

#container {
    
}

/*------------------------------------------------------------------------- GERAL*/

header {        
    background-color: #bababa;    
    width: 100%;
    height: 60px;
    padding: 5px 0px;
    position: fixed;
    left: 0px;
    z-index: 2;
}

header #box-cabecalho {
    width: 310px;
    height: 60px;
    margin: 0 auto;
}

header #box-cabecalho #mobile-botao-menu {
    background: url(../img/icones/menu_sandwich.png) no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    cursor: pointer;
    float: left;
}

header #box-cabecalho #box-conta {    
    width: 120px;
    height: 60px;
    float: right;    
}

header #box-cabecalho #box-conta #icone-notificacao {
    background: url(../img/icones/notificacao.png) no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    float: left;    
}

header #box-cabecalho #box-conta #imagem-perfil {
    background-color: #dddddd;
    width: 55px;
    height: 55px;    
    border-radius: 50px;
    border: 2px solid white;
    overflow: hidden;    
    cursor: pointer;
    float: right;    
}

header #box-cabecalho #box-conta #imagem-perfil img {
    width: 55px;
    height: 55px;
}

/*------------------------------------------------------------------------- CABEÇALHO*/

#mobile-botao-filtragem {
    background-color: #b9b9b9;
    background-image: url(../img/icones/filtrar.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
    padding: 5px;
    position: relative;
    margin-left: auto;
    top: 65px;
    border-radius: 0px 0px 2px 2px;
    border-top: 0px;
    cursor: pointer;
    z-index: 1;
}

/*------------------------------------------------------------------------- BOTAO FILTRAGEM VEÍCULOS*/

.painel-mobile {
    display: none;
    background-color: white;    
    width: 0px;
    height: 100%;
    padding: 5px;
    position: fixed;        
    transition: width .2s;
    z-index: 2;
}

#box-mobile-menu {
    
}

#box-mobile-menu #mobile-menu {
    
}

#box-mobile-menu #mobile-menu li {
    background-color: #ededed;
    margin-bottom: 2px;    
}

#box-mobile-menu #mobile-menu li a {
    display: block;
    padding: 20px;
    text-align: center;
}

/*------------- MENU DE PAGINAS - MOBILE*/

#container #box-mobile-filtragem {    
    width: 250px;    
    height: 100%;
    position: fixed;    
}

#container #box-mobile-filtragem #titulo {
    text-align: center;
    font-size: 22px;
}

#container #box-mobile-filtragem .box-opcoes-select {
    margin-bottom: 10px;
}

#container #box-mobile-filtragem .box-opcoes-select .label {
    font-size: 20px;
}

#container #box-mobile-filtragem .box-opcoes-select .select {
    height: 50px;
    width: 250px;
}

#container #box-mobile-filtragem .box-filtragem-valor {
    margin-bottom: 10px;
}

#container #box-mobile-filtragem .box-filtragem-valor .label {
    font-size: 20px;
    margin-bottom: 5px;
}

#container #box-mobile-filtragem .box-filtragem-valor .box-valores {
    margin-bottom: 5px;
}

#container #box-mobile-filtragem .box-filtragem-valor .box-valores .label-intervalo {
    display: inline-block;
}

#container #box-mobile-filtragem .box-filtragem-valor .box-valores .txt-valor {    
    width: 90px;
    height: 30px;
}

#container #box-mobile-filtragem .box-filtragem-valor .box-ordem {
    
}

#container #box-mobile-filtragem .box-filtragem-valor .box-ordem .opcao-ordem {
    width: 20px;
    height: 20px;
}

#container #box-mobile-filtragem .box-filtragem-valor .box-ordem .label-ordem {
    display: inline-block;
    height: 20px;
    position: relative;
    bottom: 5px;
}

#container #box-mobile-filtragem .box-filtragem-slider {
    margin-bottom: 10px;
}

#container #box-mobile-filtragem .box-filtragem-slider .label {
    font-size: 20px;
}

#container #box-mobile-filtragem .box-filtragem-slider .box-slider {
    
}

#container #box-mobile-filtragem .box-filtragem-slider .box-slider .slider {
    width: 245px;
}

#container #box-mobile-filtragem .box-filtragem-slider .box-slider .valor-slider {
    text-align: center;    
}

#container #box-mobile-filtragem .botao-submit {
    background-color: #d9d9d9;
    width: 120px;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    margin-left: 55px;
    outline: none;    
}

/*------------- MENU DE FILTRAGEM - MOBILE*/

/*------------------------------------------------------------------------- PAINEIS MOBILE*/

#box-menu-usuario {
    display: none;
    background-color: #f2f2f2;
    position: relative;
    width: 200px; 
    top: 65px;
    margin-left: auto; 
    z-index: 3;
}

#box-menu-usuario #menu-usuario {
}

#box-menu-usuario #menu-usuario {
    list-style-type: none;
}

#box-menu-usuario #menu-usuario li {
    
}

#box-menu-usuario #menu-usuario li a {
    display: block;
    padding: 20px;    
}

/*------------------------------------------------------------------------- MENU USUARIO*/

.container-icone-avaliacoes {
    display: inline-block;        
}

.container-icone-avaliacoes .icone-avaliacao {
    background: url(../img/icones/avaliacao.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
}

/*------------- PRESETS*/

#main {
    background-color: #cccccc;
    min-height: 400px;
    padding-top: 72px;
    padding-bottom: 10px;    
}

#main .imagem-divisao-conteudo {
    background-image: url(../img/image_teste.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 300px;
}

#main .imagem-divisao-conteudo:nth-child(1) {
    background-image: url(../img/image_teste2.jpg);
}

#main .box-conteudo {
    width: 310px;
    margin: 0 auto;
}

#main .box-conteudo .box-conteudo-apresentacao {    
    padding: 0px 5px;
    padding-top: 15px;
    margin-bottom: 10px;
}

#main .box-conteudo .box-conteudo-apresentacao .titulo-apresentacao {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

#main .box-conteudo .box-conteudo-apresentacao .imagem-apresentacao {
    display: block;
    width: 280px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 15px;
}

#main .box-conteudo .box-conteudo-apresentacao .texto-apresentacao {
    display: block;
    width: 270px;
    font-size: 20px;
    text-align: justify;
    margin: 0 auto;
}

/*------------- GERAL*/

#main #container-locadores-destaque {    
    height: 410px;   
    overflow-x: scroll;
    padding: 5px;
    padding-top: 15px;
    margin: 0 auto;
}

#main #container-locadores-destaque #horizontal-wrapper {
    width: 2600px;   
}

#main #container-locadores-destaque .box-locador-destaque {
    background-color: #a8a8a8;
    width: 250px;
    display: inline-block;
    margin: 0 3px;
}

#main #container-locadores-destaque .box-locador-destaque .foto-locador {
    width: 250px;
    height: 220px;
}

#main #container-locadores-destaque .box-locador-destaque .nome-locador {
    font-size: 23px;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#main #container-locadores-destaque .box-locador-destaque .localizacao-locador {
    font-size: 19px;
    margin-left: 5px;
    margin-right: 5px;
}

#main #container-locadores-destaque .box-locador-destaque .box-avaliacoes {   
    margin-top: 50px;
}

#main #container-locadores-destaque .box-locador-destaque .box-avaliacoes .avaliacoes-locador {
    font-style: italic;
    display: inline-block;
    margin-left: 5px;
}

#main #container-locadores-destaque .box-locador-destaque 
.box-avaliacoes .container-icone-avaliacoes {
    margin-left: 80px;
    margin-bottom: 5px;
    margin-top: 5px;
}

/*------------- HOME*/

#main .box-conteudo #lista-veiculos {    
    width: 310px;
    height: auto;    
}

#main .box-conteudo #lista-veiculos .box-veiculo {
    background-color: #dedede;
    margin-bottom: 10px;
}

#main .box-conteudo #lista-veiculos .box-veiculo .imagem-veiculo {
    width: 310px;
    margin: 0px;
}

#main .box-conteudo #lista-veiculos .box-veiculo .box-info-veiculo {
    height: 50px;
    margin-top: 0px;
}

#main .box-conteudo #lista-veiculos .box-veiculo .box-info-veiculo .titulo-veiculo {    
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    margin: 0px 5px;
    margin-top: 3px;
    float: left;
}

#main .box-conteudo #lista-veiculos .box-veiculo .box-valor-diaria {
    display: inline-block;
    width: 100px;
    height: 35px;
    margin-right: 5px;
    padding-left: 5px;
    border-left: 2px solid black;
    float: right;
}

#main .box-conteudo #lista-veiculos .box-veiculo .box-valor-diaria .valor-diaria {
    font-size: 22px;
    height: 35px;
}

#main .box-conteudo #lista-veiculos .box-veiculo .box-valor-diaria .valor-diaria .label-diaria {
    text-align: right;
    font-style: italic;
    font-size: 15px;
    position: relative;
    left: 50px;
    bottom: 11px;
}

#main .box-conteudo #lista-veiculos .box-veiculo .box-info-valores {
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

#main .box-conteudo #lista-veiculos .box-veiculo .box-info-valores .valor-combustivel,
#main .box-conteudo #lista-veiculos .box-veiculo .box-info-valores .valor-quilometragem {
    font-size: 20px;
    text-align: left;
}

#main .box-conteudo #lista-veiculos .box-veiculo .box-info-valores .valor {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 5px;
}

#main .box-conteudo #lista-veiculos .box-veiculo .box-avaliacoes {
    display: block;
    height: 33px;
    padding-bottom: 5px;
}

#main .box-conteudo #lista-veiculos .box-veiculo .box-avaliacoes .container-icone-avaliacoes {
    float: right;    
}

#main .box-conteudo #box-paginas {    
    padding: 2px;
    margin: 0 auto;
    border-top: 1px solid #9a9a9a;
}

#main .box-conteudo #box-paginas #box-botoes {
    width: 285px;
    margin: 0 auto;
}

#main .box-conteudo #box-paginas #box-primeira-pagina,
#main .box-conteudo #box-paginas #link-pagina-prev,
#main .box-conteudo #box-paginas #link-pagina-next, 
#main .box-conteudo #box-paginas #box-ultima-pagina {    
    background-color: #d4d4d4;
    font-size: 25px;    
    padding: 15px;
    margin: 1px;
}

#main .box-conteudo #box-paginas .box-botoes-pagina {
    display: inline-block;
    text-align: right;
}

#main .box-conteudo #box-paginas #link-pagina-prev {
    display: inline-block;
    text-align: right;
}

#main .box-conteudo #box-paginas #label-pagina-atual {    
    display: inline-block;    
    font-size: 24px;    
    padding: 15px;
    position: relative;
    bottom: 25px;
}

#main .box-conteudo #box-paginas #link-pagina-next {
    display: inline-block;
    text-align: left;
}

#main .box-conteudo #box-paginas #box-ultima-pagina {
    text-align: left;
}

/*------------- ALUGUE*/

#main .box-conteudo-faq{
    padding: 0px 5px;
    padding-top: 15px;
    margin-bottom: 10px;
}

#main .box-conteudo-faq .titulo-faq{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
#main .box-conteudo-faq #faq-accordion{
    width: 100%;
    height: auto;
}

#main .box-conteudo-faq #faq-accordion .faq{
    width: 100%;
    height: 25px;
    border: 1px solid #696969;
}

#main .box-conteudo-faq #faq-accordion .faq .faq-answer{
    width: 300px;
    height: 25px;
    display: none;
    background-color: white;
    float: left;
}

#main .box-conteudo .subtitulo{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}
#main .box-conteudo #info-contato{
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}
#main .box-conteudo #info-contato p{
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

/*------------- FAQ/CONTATO*/

#main .box-conteudo .box-conteudo-empresa{
     padding: 0px 5px;
    padding-top: 15px;
    margin-bottom: 10px;
}
#main .box-conteudo .box-conteudo-empresa .titulo-empresa{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
#main .box-conteudo .box-conteudo-empresa .logo-empresa{
    display: block;
    width: 300px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: aqua;
}
#main .box-conteudo .box-conteudo-empresa .texto-empresa{
    display: block;
    width: 300px;
    font-size: 16px;
    text-align: justify;
    margin: 0 auto;
    margin-top: 10px;
}

/*------------- EMPRESA*/

/*------------------------------------------------------------------------- CONTEUDO PRINCIPAL*/

footer {
    background-color: #7b7b7b;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    margin-top: 5px;
}

footer #box-rodape {
    width: 310px;
    margin: 0 auto;
}

footer #box-rodape #box-mapa-site {
    margin-bottom: 30px;
}

footer #box-rodape #box-mapa-site h1 {
    color: white;
    font-size: 22px;    
    margin-bottom: 5px;    
}

footer #box-rodape #box-mapa-site #lista-paginas {
    list-style-type: none;    
}

footer #box-rodape #box-mapa-site #lista-paginas li {    
    margin-bottom: 5px;
}

footer #box-rodape #box-mapa-site #lista-paginas li a {
    color: white;
    font-size: 18px;
    padding: 12px;
    display: block;
}

footer #box-rodape #declaracao-copyright {
    color: white;
    text-align: center;
    font-size: 15px;
}

/*------------------------------------------------------------------------- RODAPÉ*/