body::after {
    content: "mobile";
    font-size: 0;
}

/*------------------------------------------------------------------------- PSEUDO ELEMENTOS PARA BREAKPOINT*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*------------------------------------------------------------------------- CSS RESET*/

a {
    text-decoration: none;
}

#container {
    
}

/*------------------------------------------------------------------------- GERAL*/

header {
    background-color: #202020;    
    width: 100%;
    height: 60px;
    padding: 5px 0px;
    position: fixed;
    left: 0px;
    z-index: 2;
}

header #box-cabecalho {
    width: 310px;
    height: 60px;
    margin: 0 auto;
}

@media (min-width: 520px) {
    header, header #box-cabecalho {
        height: 40px;
    }
}

@media (min-width: 740px) {
    header #box-cabecalho {
        width: 700px;            
    }
}

header #box-cabecalho #mobile-botao-menu {
    background: url(../img/icones/menu_sandwich.png) no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    cursor: pointer;
    float: left;
}

@media (min-width: 520px) {
    header #box-cabecalho #mobile-botao-menu {
        width: 35px;
        height: 35px;
    }
}

@media (min-width: 740px) {
    header #box-cabecalho #mobile-botao-menu {
        display: none;
    }
}

header #box-cabecalho #menu-navegacao {
    display: none;
}

@media (min-width: 740px) {
    header #box-cabecalho #menu-navegacao {
        display: block;
    }
}

header #box-cabecalho #menu-navegacao ul {    
    list-style-type: none;
    float: left;
}

header #box-cabecalho #menu-navegacao ul li {
    display: inline-block;
}

header #box-cabecalho #menu-navegacao ul li a {
    display: inline-block;
    background-color: #141619;
    border: 1px solid #557bc9;
    width: 100px;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 10px 0px;
}

header #box-cabecalho #menu-navegacao ul li a:hover {
    background-color: #557bc9;
    color: white;
}

header #box-cabecalho #box-conta {    
    width: 120px;
    height: 60px;
    float: right;    
}

@media (min-width: 520px) {
    header #box-cabecalho #box-conta {
        height: 40px;
    }
}

@media (min-width: 740px) {
    header #box-cabecalho #box-conta {
        width: 230px;
    }
}

header #box-cabecalho #box-conta #icone-notificacao {
    background: url(../img/icones/notificacao.png) no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    float: left;    
}

@media (min-width: 520px) {
    header #box-cabecalho #box-conta #icone-notificacao {
        width: 28px;
        height: 28px;
    }
}

header #box-cabecalho #box-conta #box-info-usuario {
    display: none;
    width: 170px;
    margin-left: auto;
}

@media (min-width: 740px) {
    header #box-cabecalho #box-conta #box-info-usuario {
        display: block;
    }
}

header #box-cabecalho #box-conta #box-info-usuario #nome-usuario,
header #box-cabecalho #box-conta #box-info-usuario #botao-logout {    
    color: white;
}

header #box-cabecalho #box-conta #imagem-perfil {
    background-color: #dddddd;
    width: 55px;
    height: 55px;    
    border-radius: 50px;
    border: 2px solid white;
    overflow: hidden;    
    cursor: pointer;
    float: right;    
}

header #box-cabecalho #box-conta #imagem-perfil img {
    width: 55px;
    height: 55px;
}

@media (min-width: 520px) {
    header #box-cabecalho #box-conta #imagem-perfil,
    header #box-cabecalho #box-conta #imagem-perfil img {
        width: 38px;
        height: 38px;
    }
}

/*------------------------------------------------------------------------- CABEÇALHO*/

#mobile-botao-filtragem {
    background-color: #b9b9b9;
    background-image: url(../img/icones/filtrar.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
    padding: 5px;
    position: relative;
    margin-left: auto;
    top: 65px;
    border-radius: 0px 0px 2px 2px;
    border-top: 0px;
    cursor: pointer;
    z-index: 1;
}

@media (min-width: 520px) {
    #mobile-botao-filtragem {
        top: 45px;
    }
}

/*------------------------------------------------------------------------- BOTAO FILTRAGEM VEÍCULOS*/

.painel-mobile {
    display: none;
    background-color: white;    
    width: 0px;
    height: 100%;
    padding: 5px;
    position: fixed;        
    transition: width .2s;
    z-index: 2;
}

#box-mobile-menu {
    
}

#box-mobile-menu #mobile-menu {
    
}

#box-mobile-menu #mobile-menu li {
    background-color: #557bc9;
    margin-bottom: 2px;    
}

#box-mobile-menu #mobile-menu li a {
    display: block;
    color: white;
    padding: 20px;
    text-align: center;
}

/*------------- MENU DE PAGINAS - MOBILE*/

#container #box-mobile-filtragem {    
    width: 250px;    
    height: 100%;
    position: fixed;    
}

#container #box-mobile-filtragem #titulo {
    text-align: center;
    font-size: 22px;
}

#container #box-mobile-filtragem .box-opcoes-select {
    margin-bottom: 10px;
}

#container #box-mobile-filtragem .box-opcoes-select .label {
    font-size: 20px;
}

#container #box-mobile-filtragem .box-opcoes-select .select {
    height: 50px;
    width: 250px;
}

#container #box-mobile-filtragem .box-filtragem-valor {
    margin-bottom: 10px;
}

#container #box-mobile-filtragem .box-filtragem-valor .label {
    font-size: 20px;
    margin-bottom: 5px;
}

#container #box-mobile-filtragem .box-filtragem-valor .box-valores {
    margin-bottom: 5px;
}

#container #box-mobile-filtragem .box-filtragem-valor .box-valores .label-intervalo {
    display: inline-block;
}

#container #box-mobile-filtragem .box-filtragem-valor .box-valores .txt-valor {    
    width: 90px;
    height: 30px;
}

#container #box-mobile-filtragem .box-filtragem-valor .box-ordem {
    
}

#container #box-mobile-filtragem .box-filtragem-valor .box-ordem .opcao-ordem {
    width: 20px;
    height: 20px;
}

#container #box-mobile-filtragem .box-filtragem-valor .box-ordem .label-ordem {
    display: inline-block;
    height: 20px;
    position: relative;
    bottom: 5px;
}

#container #box-mobile-filtragem .box-filtragem-slider {
    margin-bottom: 10px;
}

#container #box-mobile-filtragem .box-filtragem-slider .label {
    font-size: 20px;
}

#container #box-mobile-filtragem .box-filtragem-slider .box-slider {
    
}

#container #box-mobile-filtragem .box-filtragem-slider .box-slider .slider {
    width: 245px;
}

#container #box-mobile-filtragem .box-filtragem-slider .box-slider .valor-slider {
    text-align: center;    
}

#container #box-mobile-filtragem .botao-submit {
    background-color: #d9d9d9;
    width: 120px;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    margin-left: 55px;
    outline: none;    
}

/*------------- MENU DE FILTRAGEM - MOBILE*/

/*------------------------------------------------------------------------- PAINEIS MOBILE*/

#box-menu-usuario {
    display: none;
    background-color: #f2f2f2;
    position: relative;
    width: 200px; 
    top: 65px;
    margin-left: auto; 
    z-index: 3;
}

@media (min-width: 520px) {
    #box-menu-usuario {
        top: 45px;
    }
}

#box-menu-usuario #menu-usuario {
    list-style-type: none;
}

#box-menu-usuario #menu-usuario li a {
    display: block;
    padding: 20px;    
}

/*------------------------------------------------------------------------- MENU USUARIO*/

.container-icone-avaliacoes {
    display: inline-block;        
}

.container-icone-avaliacoes .icone-avaliacao {
    background: url(../img/icones/avaliacao.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
}

/*------------- PRESETS*/

.main {
    background-color: #ebebeb;
    min-height: 400px;
    padding-top: 60px;
    padding-bottom: 10px;    
}

@media (min-width: 520px) {
    .main {
        padding-top: 40px;
    }
}

.main .imagem-divisao-conteudo {
    background-image: url(../img/image_teste.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin: 10px 0px;
}

@media (min-width: 740px) {
    .main .imagem-divisao-conteudo {
        height: 400px;
    }
}

.main .imagem-divisao-conteudo:nth-child(1) {
    background-image: url(../img/image_teste2.jpg);
}

.main .box-conteudo {
    width: 310px;
    margin: 0 auto;
}

@media (min-width: 420px) {
    .main .box-conteudo {
        width: 380px;
    }
}

@media (min-width: 520px) {
    .main .box-conteudo {
        width: 450px;
    }
}

@media (min-width: 740px) {
    .main .box-conteudo {
        width: 650px;
    }
}

@media (min-width: 1000px) {
    .main .box-conteudo {
        width: 900px;
    }
}

.main .box-conteudo .box-conteudo-apresentacao {           
    padding: 15px 5px;
    margin-bottom: 10px;
    border-radius: 2px;
}

@media (min-width: 1000px) {
    .main .box-conteudo .conteudo-horizontal-ltr,
    .main .box-conteudo .conteudo-horizontal-rtl {        
        height: 405px;
    }
}

@media (min-width: 1000px) {
    .main .box-conteudo .conteudo-horizontal-ltr .imagem-apresentacao {
        width: 400px;
        height: 360px;
        float: left;
    }
}

@media (min-width: 1000px) {
    .main .box-conteudo .conteudo-horizontal-rtl .imagem-apresentacao {
        width: 400px;
        height: 360px;
        float: right;
    }
}

.main .box-conteudo .box-conteudo-apresentacao .titulo-apresentacao {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main .box-conteudo .box-conteudo-apresentacao .imagem-apresentacao {
    display: block;
    width: 280px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 2px;
}

@media (min-width: 420px) {
    .main .box-conteudo .box-conteudo-apresentacao .imagem-apresentacao {
        width: 350px;
        height: 260px;
    }
}

@media (min-width: 520px) {
    .main .box-conteudo .box-conteudo-apresentacao .imagem-apresentacao {
        width: 420px;
        height: 320px;
    }    
}

@media (min-width: 740px) {
    .main .box-conteudo .box-conteudo-apresentacao .imagem-apresentacao {
        width: 620px;
        height: 420px;
    }
}

@media (min-width: 1000px) {
    .main .box-conteudo .box-conteudo-apresentacao .imagem-apresentacao {
        width: 820px;
        height: 420px;        
    }
}

@media (min-width: 1000px) {
    .main .box-conteudo .conteudo-horizontal-ltr .imagem-apresentacao {
        width: 400px;
        height: 300px;
        float: left;
    }
}

@media (min-width: 1000px) {
    .main .box-conteudo .conteudo-horizontal-rtl .imagem-apresentacao {
        width: 400px;
        height: 300px;
        float: right;
    }
}

.main .box-conteudo .box-conteudo-apresentacao .texto-apresentacao {
    display: block;    
    width: 270px;
    font-size: 20px;
    text-align: justify;    
    margin: 0 auto;
}

@media (min-width: 420px) {
    .main .box-conteudo .box-conteudo-apresentacao .texto-apresentacao {
        width: 340px;
        font-size: 18px;
    }
}

@media (min-width: 520px) {
    .main .box-conteudo .box-conteudo-apresentacao .texto-apresentacao {
        width: 410px;
        font-size: 17px;
    }
}

@media (min-width: 740px) {
    .main .box-conteudo .box-conteudo-apresentacao .texto-apresentacao {
        width: 620px;
        font-size: 15px;
    }
}

@media (min-width: 1000px) {
    .main .box-conteudo .box-conteudo-apresentacao .texto-apresentacao {
        width: 820px;        
    }
}

@media (min-width: 1000px) {
    .main .box-conteudo .conteudo-horizontal-ltr .texto-apresentacao {        
        width: 470px;
        height: 360px;
        float: right;
    }
}

@media (min-width: 1000px) {
    .main .box-conteudo .conteudo-horizontal-rtl .texto-apresentacao {        
        width: 470px;
        height: 360px;
        float: left;
    }
}


.main #container-locadores-destaque {    
    height: 410px;   
    overflow-x: auto;
    padding: 5px;
    padding-top: 15px;
    margin: 0 auto;
}

@media (min-width: 420px) {
    .main #container-locadores-destaque {
        height: 350px;
    }
}

@media (min-width: 520px) {
    .main #container-locadores-destaque {
        height: 620px;
    }
}

@media (min-width: 740px) {
    .main #container-locadores-destaque {
        height: 790px;
    }
}

@media (min-width: 1000px) {
    .main #container-locadores-destaque {
        height: 580px;
    }
}

.main #container-locadores-destaque #horizontal-wrapper {
    width: 2600px;   
}

@media (min-width: 520px) {
    .main #container-locadores-destaque #horizontal-wrapper {
        width: 1055px; 
        height: 590px;
    }
}

@media (min-width: 740px) {
    .main #container-locadores-destaque #horizontal-wrapper {
        width: 636px; 
        height: 760px;
        text-align: center;
        margin: 0 auto;
    }
}

@media (min-width: 1000px) {
    .main #container-locadores-destaque #horizontal-wrapper {
        width: 960px; 
        height: 570px;
    }
}

.main #container-locadores-destaque .box-locador-destaque {    
    display: inline-block;
    background-color: #f5f5f5;
    width: 250px;
    border-radius: 0px 0px 5px 5px;
    margin: 0 3px;
}

@media (min-width: 520px) {
    .main #container-locadores-destaque .box-locador-destaque {
        margin-bottom: 10px;
    }
}

.main #container-locadores-destaque .box-locador-destaque .foto-locador {
    width: 250px;
    height: 220px;
}

.main #container-locadores-destaque .box-locador-destaque .nome-locador {
    font-size: 23px;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.main #container-locadores-destaque .box-locador-destaque .localizacao-locador {
    font-size: 19px;
    margin-left: 5px;
    margin-right: 5px;
}

.main #container-locadores-destaque .box-locador-destaque .box-avaliacoes {   
    margin-top: 50px;
}

.main #container-locadores-destaque .box-locador-destaque .box-avaliacoes .avaliacoes-locador {
    font-style: italic;
    display: inline-block;
    margin-left: 5px;
}

.main #container-locadores-destaque .box-locador-destaque .box-avaliacoes .container-icone-avaliacoes {
    margin-left: 80px;
    margin-bottom: 5px;
    margin-top: 5px;
}

@media (min-width: 420px) {
    .main #container-locadores-destaque .box-locador-destaque {
        width: 230px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .foto-locador {
        width: 230px;
        height: 200px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .nome-locador {
        font-size: 20px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .localizacao-locador {
        font-size: 16px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .box-avaliacoes {   
        margin-top: 20px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .box-avaliacoes .container-icone-avaliacoes {
        margin-left: 55px;
    }
}

@media (min-width: 520px) {
    .main #container-locadores-destaque .box-locador-destaque {
        width: 200px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .foto-locador {
        width: 200px;
        height: 160px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .nome-locador {
        font-size: 18px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .localizacao-locador {
        font-size: 15px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .box-avaliacoes {   
        margin-top: 15px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .box-avaliacoes .container-icone-avaliacoes {
        margin-left: 16px;
    }
}

@media (min-width: 740px) {
    .main #container-locadores-destaque .box-locador-destaque {
        width: 150px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .foto-locador {
        width: 150px;
        height: 130px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .nome-locador {
        font-size: 16px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .localizacao-locador {
        font-size: 14px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .box-avaliacoes {   
        margin-top: 15px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .box-avaliacoes .container-icone-avaliacoes {
        margin-left: 2px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .box-avaliacoes .container-icone-avaliacoes .icone-avaliacao {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 1000px) {
    .main #container-locadores-destaque .box-locador-destaque {
        width: 180px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .foto-locador {
        width: 180px;
        height: 160px;
    }
    
    .main #container-locadores-destaque .box-locador-destaque .nome-locador {
        font-size: 16px;
    }
}

/*------------- HOME*/

.main .box-conteudo #lista-veiculos {    
    width: 310px;
    height: auto;
    margin: 0 auto;
}

.main .box-conteudo #lista-veiculos .box-veiculo {
    background-color: #dedede;
    margin-bottom: 10px;
}

.main .box-conteudo #lista-veiculos .box-veiculo .imagem-veiculo {
    width: 310px;
    margin: 0px;
}

.main .box-conteudo #lista-veiculos .box-veiculo .box-info-veiculo {
    height: 50px;
    margin-top: 0px;
}

.main .box-conteudo #lista-veiculos .box-veiculo .box-info-veiculo .titulo-veiculo {    
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    margin: 0px 5px;
    margin-top: 3px;
    float: left;
}

.main .box-conteudo #lista-veiculos .box-veiculo .box-valor-diaria {
    display: inline-block;
    width: 100px;
    height: 35px;
    margin-right: 5px;
    padding-left: 5px;
    border-left: 2px solid black;
    float: right;
}

.main .box-conteudo #lista-veiculos .box-veiculo .box-valor-diaria .valor-diaria {
    font-size: 22px;
    height: 35px;
}

.main .box-conteudo #lista-veiculos .box-veiculo .box-valor-diaria .valor-diaria .label-diaria {
    text-align: right;
    font-style: italic;
    font-size: 15px;
    position: relative;
    left: 50px;
    bottom: 11px;
}

.main .box-conteudo #lista-veiculos .box-veiculo .box-info-valores {
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.main .box-conteudo #lista-veiculos .box-veiculo .box-info-valores .valor-combustivel,
.main .box-conteudo #lista-veiculos .box-veiculo .box-info-valores .valor-quilometragem {
    font-size: 20px;
    text-align: left;
}

.main .box-conteudo #lista-veiculos .box-veiculo .box-info-valores .valor {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 5px;
}

.main .box-conteudo #lista-veiculos .box-veiculo .box-avaliacoes {
    display: block;
    height: 33px;
    padding-bottom: 5px;
}

.main .box-conteudo #lista-veiculos .box-veiculo .box-avaliacoes .container-icone-avaliacoes {
    float: right;    
}

.main .box-conteudo #box-paginas {    
    padding: 2px;
    margin: 0 auto;
    border-top: 1px solid #9a9a9a;
}

.main .box-conteudo #box-paginas #box-botoes {
    width: 285px;
    margin: 0 auto;
}

.main .box-conteudo #box-paginas #box-primeira-pagina,
.main .box-conteudo #box-paginas #link-pagina-prev,
.main .box-conteudo #box-paginas #link-pagina-next, 
.main .box-conteudo #box-paginas #box-ultima-pagina {    
    background-color: #d4d4d4;
    font-size: 25px;    
    padding: 15px;
    margin: 1px;
}

.main .box-conteudo #box-paginas .box-botoes-pagina {
    display: inline-block;
    text-align: right;
}

.main .box-conteudo #box-paginas #link-pagina-prev {
    display: inline-block;
    text-align: right;
}

.main .box-conteudo #box-paginas #label-pagina-atual {    
    display: inline-block;    
    font-size: 24px;    
    padding: 15px;
    position: relative;
    bottom: 25px;
}

.main .box-conteudo #box-paginas #link-pagina-next {
    display: inline-block;
    text-align: left;
}

.main .box-conteudo #box-paginas #box-ultima-pagina {
    text-align: left;
}

/*------------- ALUGUE*/

#pag-contato .box-conteudo-faq{
    padding: 0px 5px;
    padding-top: 15px;
    margin-bottom: 10px;
}

#pag-contato .box-conteudo-faq .titulo-faq{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
#pag-contato .box-conteudo-faq #faq-accordion{
    width: 100%;
    height: auto;
}

#pag-contato .box-conteudo-faq #faq-accordion .faq{
    width: 100%;
    height: 25px;
    border: 1px solid #696969;
}

#pag-contato .box-conteudo-faq #faq-accordion .faq .faq-answer{
    width: 300px;
    height: 25px;
    display: none;
    background-color: white;
    float: left;
}

/*------------- FAQ*/

#pag-contato .box-conteudo .box-conteudo-contato{
    
}
@media (min-width: 740px){
    #pag-contato .box-conteudo .box-conteudo-contato{
        
    }
}
#pag-contato .box-conteudo .box-conteudo-contato .subtitulo{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
#pag-contato .box-conteudo .box-conteudo-contato #info-contato{
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}

@media (min-width: 740px){
    #pag-contato .box-conteudo .box-conteudo-contato #info-contato{
        float: left;
        width: 400px;
        height: 400px;
    }
}

#pag-contato .box-conteudo #info-contato{
    padding: 0px 5px;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}
#pag-contato .box-conteudo #info-contato p{
    margin-top: 20px;
    font-weight: bold;
    font-size: 19px;
}
#pag-contato .box-conteudo .box-contato{
    margin-top: 20px;
}

@media (min-width: 740px){    
    #pag-contato .box-conteudo .container-form-contato{
        float: left;
        width: 800px;
        height: 800px;
    }
}

#pag-contato .box-conteudo .box-conteudo-contato{
    padding: 15px 5px;
    margin-bottom: 10px;
    border-radius: 2px;
}
#pag-contato .box-conteudo .box-conteudo-contato .titulo-contato{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
#pag-contato .box-conteudo .box-conteudo-contato .box-contato{
    position: relative;
}
#pag-contato .box-conteudo .box-contato .label-input-contato {
    margin-bottom: 20px;
}

#pag-contato .box-conteudo .box-contato .label-input-contato .label-contato{
    font-size: 20px;
}

#pag-contato .box-conteudo .box-contato .label-input-contato .text-input {
    display: block;
    background: none;
    width: 100%;
    height: 50px;
    font-size: 23px;
    border: 0px;
    border-bottom: 1px solid white;
    outline: none;
}
@media (min-width: 740px){
    #pag-contato .box-conteudo .box-contato .label-input-contato .text-input{
        width: inherit;
    }
}
@media (min-width: 740px){
    #pag-contato .box-conteudo .box-contato .label-input-contato .text-area-input{
        width: inherit;
    }
}
#pag-contato .box-conteudo .box-contato .label-input-contato .text-area-input{
    display: block;
    background: none;
    width: 100%;
    height: 70px;
    font-size: 23px;
    border: 0px;
    border: 1px solid white;
    outline: none;
    resize: none;
    margin-top: 5px;
}
#pag-contato .box-conteudo .box-contato .button-link {
    background-color: #e2e2e2;
    width: 200px;
    font-size: 20px;
    text-align: center;
    border: 0px;
    border-radius: 5px;
    padding: 20px 0px;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
    display: inline-block;
}
#pag-contato .box-conteudo .box-contato .botao-contato{
    margin-left: 50px;
}
/*------------- CONTATO*/

.main .box-conteudo .box-conteudo-empresa{
    padding: 0px 5px;
    padding-top: 15px;
    margin-bottom: 10px;
}
.main .box-conteudo .box-conteudo-empresa .titulo-empresa{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.main .box-conteudo .box-conteudo-empresa .logo-empresa{
    display: block;
    width: 300px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: aqua;
}
.main .box-conteudo .box-conteudo-empresa .texto-empresa{
    display: block;
    width: 300px;
    font-size: 16px;
    text-align: justify;
    margin: 0 auto;
    margin-top: 10px;
}

/*------------- EMPRESA*/

#pag-detalhes-veiculo #slide-imagens-veiculo {    
    background-color: #8b8b8b;    
    height: 200px;
    margin-bottom: 10px;
}

#pag-detalhes-veiculo #slide-imagens-veiculo .botao-slide {
    background-color: #646464;
    width: 80px;
    height: 200px;
}

#pag-detalhes-veiculo #slide-imagens-veiculo #botao-prev {
    float: left;
}

#pag-detalhes-veiculo #slide-imagens-veiculo #container-imagens {    
    background-color: #909090;
    height: 200px;
}

#pag-detalhes-veiculo #slide-imagens-veiculo #botao-next {
    float: right;
}

#pag-detalhes-veiculo .box-conteudo .box-veiculo #titulo-veiculo {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

#pag-detalhes-veiculo .box-conteudo .box-label-valor {    
    margin: 2px;
}

#pag-detalhes-veiculo .box-conteudo .box-label-valor .label {
    font-size: 20px;
}

#pag-detalhes-veiculo .box-conteudo .box-veiculo .box-label-valor .valor {
    font-size: 23px;    
    text-align: right;
}

#pag-detalhes-veiculo .box-conteudo .box-veiculo #box-limite-distancia {
    margin-bottom: 30px;
}

#pag-detalhes-veiculo .box-conteudo .box-veiculo #box-limite-distancia .label {
    font-size: 18px;
}

#pag-detalhes-veiculo .box-conteudo .box-veiculo #box-limite-distancia .valor {
    text-align: left;
    font-style: italic;
    font-size: 20px;
}

#pag-detalhes-veiculo .box-conteudo .box-veiculo .box-data {
    margin-bottom: 5px;    
}

#pag-detalhes-veiculo .box-conteudo .box-veiculo .box-data .box-label-data {
    font-size: 20px;    
}

#pag-detalhes-veiculo .box-conteudo .box-veiculo .box-data .box-label-data .data-input {
    width: 145px;
    height: 35px;
    font-size: 18px;
    margin-right: 10px;
    float: left;
}

#pag-detalhes-veiculo .box-conteudo .box-veiculo .box-data .hora-input {
    width: 145px;
    height: 35px;
    font-size: 18px;
}

#pag-detalhes-veiculo .box-conteudo .box-veiculo #botao-alugar {
    background-color: #aaaaaa;
    color: white;
    display: block;
    width: 40px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 25px 50px;
    border-radius: 5px;    
}

#pag-detalhes-veiculo #box-previa-locador {    
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    padding: 5px;
    margin-top: 10px;
}

#pag-detalhes-veiculo #box-previa-locador #imagem-locador {
    width: 140px;
    height: 140px;
    float: left;
}

#pag-detalhes-veiculo #box-previa-locador #info-locador {    
    margin-left: 150px;
}

#pag-detalhes-veiculo #box-previa-locador #info-locador 
#nome-locador {
    font-size: 20px;
}

#pag-detalhes-veiculo #box-previa-locador #info-locador 
#box-reputacao-locador {
    margin-top: 60px;
}

#pag-detalhes-veiculo #box-previa-locador #info-locador 
#box-reputacao-locador #label-reputacao {
    font-size: 18px;
}

#pag-detalhes-veiculo .box-conteudo .box-veiculo #box-especificacoes-veiculos {
    padding: 5px;
}

#pag-detalhes-veiculo .box-conteudo .box-veiculo #box-especificacoes-veiculos 
#titulo {
    background-color: #bebebe;
    font-size: 25px;
    padding: 5px;
    margin: 10px 0;
}

#pag-detalhes-veiculo .box-conteudo .box-veiculo #box-especificacoes-veiculos 
#titulo-descricao {
    font-size: 22px;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #bababa;
}

#pag-detalhes-veiculo .box-conteudo .box-veiculo #box-especificacoes-veiculos 
#conteudo-descricao {
    font-size: 20px;
    text-align: justify;
}

#pag-detalhes-veiculo .box-conteudo .box-veiculo #box-especificacoes-veiculos 
#box-acessorios-veiculo #titulo-acessorios {
    font-size: 25px;
    margin-top: 10px;
}

#pag-detalhes-veiculo .box-conteudo .box-veiculo #box-especificacoes-veiculos 
#box-acessorios-veiculo #lista-acessorios {
    list-style-type: none;
}

#pag-detalhes-veiculo .box-conteudo .box-veiculo #box-especificacoes-veiculos 
#box-acessorios-veiculo #lista-acessorios li {
    background-color: #d1d1d1;
    padding: 15px;
    margin: 3px;
}

#pag-detalhes-veiculo #container-perguntas #titulo-container-perguntas {
    font-size: 25px;
    margin-bottom: 10px;
}

#pag-detalhes-veiculo #container-perguntas .box-info {
    background-color: #e0e0e0;
    height: 52px;
    padding: 5px 0px;
    margin-bottom: 1px;
}

#pag-detalhes-veiculo #container-perguntas .box-info 
.titulo {
    max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    padding: 15px 10px;
    margin-left: 10px;
    float: left;
}

#pag-detalhes-veiculo #container-perguntas .box-info 
.data { 
    font-size: 18px;
    border-left: 1px solid gray;
    padding: 15px 20px;
    margin-right: 10px;
    float: right;
}

#pag-detalhes-veiculo #container-perguntas .box-pergunta .pergunta {
    background-color: #eaeaea;
    font-size: 18px;
    text-align: justify;
    padding: 5px 20px;
    margin-bottom: 1px;
}

#pag-detalhes-veiculo #container-perguntas .box-pergunta .box-resposta .titulo-resposta {
    background-color: #e0e0e0;
    font-size: 17px;
    font-weight: bold;
    padding: 13px;    
}

#pag-detalhes-veiculo #container-perguntas .box-pergunta .box-resposta .box-info,
#pag-detalhes-veiculo #container-perguntas .box-pergunta .box-resposta .resposta {
    margin-left: 10px;    
}

#pag-detalhes-veiculo #container-perguntas .box-pergunta .box-resposta .resposta {
    background-color: #eaeaea;
    font-size: 18px;
    padding: 5px 20px;
    text-align: justify;
}

/*------------- VEICULO*/

#pag-cadastro #box-tipo-conta {
    background-color: #c7c7c7;
    padding-top: 5px;
}

#pag-cadastro #box-tipo-conta #container-botoes-conta {
    width: 305px;
    margin: 0 auto;
}

#pag-cadastro #box-tipo-conta #container-botoes-conta .botao-conta {    
    background-color: #eaeaea;
    display: inline-block;
    width: 150px;
    text-align: center;
    font-size: 25px;
    padding: 20px 0px;    
}

#pag-cadastro #container-cadastro-fisico {
    min-height: 670px;
}

#pag-cadastro .box-conteudo .box-cadastro {
    position: relative;
}

#pag-cadastro .box-conteudo .box-cadastro .titulo-cadastro  {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin: 15px 0;
}

#pag-cadastro .box-conteudo .box-cadastro .label-input {
    margin-bottom: 20px;
}

#pag-cadastro .box-conteudo .box-cadastro .label-input .label {
    font-size: 20px;
}

#pag-cadastro .box-conteudo .box-cadastro .label-input .radio-label {
    display: inline-block;
    position: relative;
    bottom: 7px;
}

#pag-cadastro .box-conteudo .box-cadastro .label-input .text-input {
    display: block;
    background: none;
    width: 100%;
    height: 50px;
    font-size: 23px;
    border: 0px;
    border-bottom: 1px solid white;
    outline: none;
}

#pag-cadastro .box-conteudo .box-cadastro .label-input .radio-input {
    width: 30px;
    height: 30px;
}

#pag-cadastro .box-conteudo .box-cadastro .button-link {
    background-color: #e2e2e2;
    width: 200px;
    font-size: 20px;
    text-align: center;
    border: 0px;
    border-radius: 5px;
    padding: 20px 0px;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
}

#pag-cadastro .box-conteudo .box-cadastro .horizontal-input-container .button-link {
    display: inline-block;
    width: 150px;
}

#pag-cadastro .box-conteudo #box-cartao-credito .horizontal-input-container .label-input {
    display: inline-block;
}

#pag-cadastro .box-conteudo #box-cartao-credito .horizontal-input-container .label-input .text-input {
    width: 140px;
}

#pag-cadastro .box-conteudo #container-cadastro-fisico #box-info-contato,
#pag-cadastro .box-conteudo #container-cadastro-fisico #box-cartao-credito,
#pag-cadastro .box-conteudo #container-cadastro-fisico #box-conta-bancaria,
#pag-cadastro .box-conteudo #container-cadastro-fisico #box-conducao,
#pag-cadastro .box-conteudo #container-cadastro-fisico #box-autenticacao {
    display: none;
}

#pag-cadastro .box-conteudo .box-cadastro .botao-cadastrar {
    margin-left: 50px;
}

/*------------- CADASTRO*/

/*------------------------------------------------------------------------- CONTEUDO PRINCIPAL*/

footer {
    background-color: #a1aec9;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    margin-top: 5px;
}

@media (min-width: 740px) {
    footer {
        height: 295px;
    }
}

footer #box-rodape {
    width: 310px;
    margin: 0 auto;
}

@media (min-width: 740px) {
    footer #box-rodape {
        width: 650px;
    }
}

footer #box-rodape #box-mapa-site {
    margin-bottom: 30px;
}

footer #box-rodape #box-mapa-site h1 {
    color: black;
    font-size: 22px;    
    margin-bottom: 5px;    
}

@media (min-width: 740px) {
    footer #box-rodape #box-mapa-site h1 {        
        font-size: 18px;        
    } 
}

footer #box-rodape #box-mapa-site #lista-paginas {
    list-style-type: none;    
}

@media (min-width: 740px) {
    footer #box-rodape #box-mapa-site #lista-paginas {
        float: left; 
    }
}

footer #box-rodape #box-mapa-site #lista-paginas li {    
    margin-bottom: 5px;
}

footer #box-rodape #box-mapa-site #lista-paginas li a {
    color: black;
    font-size: 18px;
    padding: 12px;
    display: block;
}

@media (min-width: 740px) {
    footer #box-rodape #box-mapa-site #lista-paginas li a {
        font-size: 15px;
        padding: 5px;
    }
}

footer #box-rodape #declaracao-copyright {
    color: black;
    text-align: center;
    font-size: 15px;
}

@media (min-width: 740px) {
    footer #box-rodape #declaracao-copyright {
        display: inline-block;
        margin-top: 230px;
    }
}

/*------------------------------------------------------------------------- RODAPÉ*/