@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*------------------------------------------------------------------------- CSS RESET*/

body {
    margin: 0;
    background-color: white;
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height:100%;
}

a {
    text-decoration: none;
}

.preset-input-text {
    background: none;
    border: none;
    border-bottom: 1px solid #A1AEC9;
    color: gray;
    outline: none;
}

.preset-input-text:focus {
    border-bottom: 1px solid #557BC9;
    color: black;
}

.preset-botao, .preset-input-submit {
    display: inline-block;    
    background-color: #202020;    
    color: #ebebeb;
    text-align: center;    
    border-radius: 3px;
    border: 0px;
    outline: none;
    cursor: pointer;
    border-bottom: 4px solid #141619;    
}

.preset-botao:hover, .preset-input-submit:hover {
    background-color: #3c3c3c;
    color: #ffffff;
    border-bottom: 4px solid #202020;
}

.preset-botao:active, .preset-input-submit:active {
    background-color: #141619;
    border-bottom: 4px solid #202020;    
}

.box-input-imagem .botao-imagem {
    background-image: url(../image/banner_test.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.box-input-imagem .input {
    display: none;
}

.box-label-input .label {
    display: block;
}

.box-label-input .input {
    width: 400px;
}

/*------------- PRESETS*/

/*---- PAGINA DE LOGIN DO CMS ----*/
#main_login {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    background-color: #ebebeb;
}

#main_login .conteudo {
    width: 500px;
    margin: 0 auto;
    
}

#main_login #banner_login{    
    height: 300px;
}

#main_login #content_login{    
    height: 400px;
    background-color: #ebebeb;
    align-content: center;
}

#main_login .text-input{
    background-color: inherit;
    width: 300px;
    height: 30px;
    padding: 2px;
    margin-left: 20px;
    font-size: 1.2em;
    border: 0;
    border-bottom: 2px solid #a1aec9;
    outline: none;
    border-radius: 2px 2px 0px 0px;
    transition: border-bottom .2s;
    margin-bottom: 20px;
    color: #a1aec9;
}

#main_login .text-input:focus {
    border-bottom: 2px solid #557bc9;
}

#main_login .submit-input {
    width: 100px;
    height: 35px;
    display: block;
    margin-left: 120px;
    margin-top: 10px;
    background-color: #afafaf;
    color: black;
    border: 0px;
    outline: none;
    border-radius: 5px;
    font-weight: bold;    
}

#main_login .submit-input:hover {
    cursor: pointer;
    background-color: #525252;    
    color: white;    
}

#main_login #footer_login{    
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #a1aec9;
    position:absolute;
	bottom:0;
	
}

#main_login #form_login{
    width: 160px;
    margin: 0 auto;
    padding-top: 195px;
    padding-right: 140px;    
}
/*---- PAGINA HOME DO CMS ----*/
#container{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

header{
    background-color: #a1aec9;
    width: 1080px;
    height: 150px;
    margin: 0 auto;
    border-bottom: 5px solid #141619;
}
header #box-cabecalho{
    width: inherit;
    height: inherit;
    margin: 0 auto;
}
header #box-cabecalho #box-image-logo{
    width: 200px;
    height: 150px;
    float: left;
    background-color: #a1aec9;
}
header #box-cabecalho #box-image-logo img{
    width: 180px;
    height: 140px;
    margin: 5px 10px;
}
header #box-cabecalho #box-conta{
    width: 300px;
    height: 120px;
    margin: 15px;
    float: right;
    background-color: #ebebeb;
    border-radius: 2px;
}
header #box-cabecalho #box-conta #box-imagem-usuario{
    width: 100px;
    height: 120px;
    float: left;
}
header #box-cabecalho #box-conta #box-imagem-usuario img{
    width: 80px;
    height: 100px;
    margin: 10px;
}
header #box-cabecalho #box-conta #box-info-usuario{
    width: 200px;
    height: 120px;
    float: left;
}
header #box-cabecalho #box-conta #box-info-usuario #nome-usuario{
    font-size: 16px;
    font-weight: bold;    
    margin-top: 10px;
    text-align: center;
}
header #box-cabecalho #box-conta #box-info-usuario #nivel-usuario{
    font-size: 14px;
    font-weight: bold;    
    margin-top: 5px;
    text-align: center;
}

header #box-cabecalho #box-conta #box-logout {    
    text-align: right;
    padding-right: 5px;
    margin-top: 35px;
}

header #box-cabecalho #box-conta #botao-logout{
    width: 80px;
    padding: 5px 0px;
}

.CMS_main .box-menu-lateral{
    width: 200px;
    height: inherit;
    background-color: #557bc9;
    float: left ;
    top: 0px;
}
.CMS_main .box-menu-lateral{
    width: 200px;
    height: 100%;
    background-color: #141619;
    float: left ;
    top: 0px;
    float: left;
    padding: 0px 5px;
}
.box-menu-lateral .menu-lateral{
    width: 200px;
    height: 220px;
}
.box-menu-lateral .menu-lateral ul{
    list-style-type: none;
}
.box-menu-lateral .menu-lateral ul li{
    display: block;
    background-color: #ebebeb;
    width: 195px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 5px;
    border-radius: 2px;
    padding-left: 5px;
}

.box-menu-lateral .menu-lateral ul li:hover {
    background-color: #a1aec9;
}

.box-menu-lateral .menu-lateral ul li:hover a {
    color: white;
}

.box-menu-lateral .menu-lateral ul li a{
    display: block;
    text-align: left;
    width: 145px;
    float: left;
    color: #000000;
}
.box-menu-lateral .menu-lateral ul li img{
    width: 42px;
    height: 42px;
    margin: 3px;
}
.box-menu-lateral .menu-lateral ul li img:hover{
    cursor: pointer;
}
/*---- CABEÇALHO ----*/

#box-caminho {
    width: 800px;
    height: 30px;    
    float: left ;
    line-height: 30px;
    font-size: 20px;
    border-bottom: solid 2px #c3c3c3 ;
    padding-left: 20px;
    margin-bottom: 20px;
    color: #c2c2c2
}

#box-caminho .link-caminho {
    text-decoration: none ;
    color: #c2c2c2 ;
}

#box-caminho .link-caminho:hover {
    color: blue;
}

.box-conteudo {
    width: 870px;
    height: 100%;
    float: left ;
}

#box-erros {
    padding: 10px;
}

#box-erros #erros li {
    color: red;
}

.box-conteudo .box-conteudo-menu {
    width: 150px;
    height: 150px;
    float: left;
    background-color: #a1aec9;
    margin: 5px;
    border-radius: 0px 0px 2px 2px;
    padding: 5px;
}

.box-conteudo .box-conteudo-menu img{
    width: 145px;
    height: 120px;
}

.box-conteudo .box-conteudo-menu .titulo-conteudo-menu{
    display: block;
    width: 150px;
    padding-bottom: 5px;
    text-align: center;
    color: white;    
}

.box-conteudo .box-conteudo-menu .titulo-conteudo-menu a{
    color: white;
    font-size: 16px;
}

.box-conteudo .lista-wrapper {
    width: 707px;
    max-height: 500px;
    margin: 15px 0px;
    overflow: auto;
    float: left;
}

.box-conteudo .box-operacoes {
    display: block;
    width: 130px;
    background-color: #d3d3d3;
    float: right;
    padding: 10px;
}

.box-conteudo .box-operacoes #menu-operacoes li {
    display: inline-block;
}

.box-conteudo .box-operacoes #menu-operacoes li .botao-operacao {
    width: 100px;
    padding: 10px 0px;
}

/*---- PAGINA ADM DE CONTEÚDO CITY SHARE ----*/
/*pagina de beneficios */
#pag-cityshare-beneficios {
    height: 1220px;
}

.box-conteudo .titulo-sessao{
    width: 100%;
    height: 30px;
    font-size: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
}

.box-conteudo #container-previa{
    height: 250px;
    width: 850px;
    margin: 10px auto;
    padding: 5px;    
}

.box-conteudo #container-previa #box-texto-previa {
    width:470px;
    height: 235px;
    float: left;
    text-align: justify;
}

.img-beneficios{
    width: 350px;
    height: 250px;
    border-radius: 15px;
}

.box-conteudo #container-previa input{
    margin: 0px 10px;
}

.box-conteudo #container-previa #input-previa{
    height: 230px;
    width: 470px;
    resize: none;
    margin: 5px 10px;
}

.box-conteudo #container-pagina {
    height:250px;
    width: 850px;
    margin-top: 20px;
    margin-left: auto ;
    margin-right: auto ;
    padding: 5px;
    
}

.box-conteudo #container-pagina #box-texto {
    width:470px;
    height: 235px;
    float: left ;
    margin-left: 20px;
    text-align: justify;
    padding-top: 15px;
    font-family: monospace;
}

.box-conteudo .box-input-pagina{
    width: inherit;
    height: 60px;
    padding: 10px;
}

.box-conteudo .container-campos .box-input-checkbox{
    width: inherit;
    height: auto;
}

.box-conteudo .container-campos .box-input-checkbox .box-checkbox{
    width: 100%;
    height: 20px;
    display: block;
    margin: 5px 10px;
}

.box-conteudo .box-input-pagina .titulo-input {
    width: 100%;
    height: 20px;
    float: left;
}

.box-conteudo  .box-input-pagina .input-pagina {
    width: 600px;
    height: 20px;
}

.box-conteudo #container-pagina .box-conteudo-pagina {
    width: inherit;
    height: 200px;
    display: inline-block;
}

.box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image {
    width: 250px;
    height: 180px;
    margin: 10px 5px;    
    float: left;
}
.box-conteudo #container-previa .conteudo-image {
    width: 350px;
    height: 230px;
    margin: 5px 5px;    
    float: left;
}

.box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto {
    width: 550px;
    height: 175px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: left;
}

.box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto textarea {
    width: inherit;
    height: inherit;
    resize: none;
}

.box-conteudo #container-pagina .box-botao {
    width: inherit;
    height: 50px;
    display: inline-block;
}

.box-conteudo #container-pagina .box-botao .preset-input-submit {
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 25px;
}

.box-conteudo #container-pagina #box-publicacoes {
    width: 100% ;
    height: 600px;
    overflow: auto;
    
}

#pag-cityshare-beneficios .box-conteudo #container-pagina #box-publicacoes {
    height: auto;    
}

/****************EMPRESA*****************/

#pag-cityshare-empresa {
    height: 1000px;
}

#pag-cityshare-empresa .box-conteudo #container-pagina{
    height:250px;
    width: 850px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#pag-cityshare-empresa .box-conteudo #container-previa {
    height: 150px;
}

#pag-cityshare-empresa .box-conteudo #container-previa #input-previa {
    height: 130px;
    width: 825px;
    resize: none;
    margin: 5px 10px;
}

#pag-cityshare-empresa .box-conteudo #container-pagina #box-texto {
    width:470px;
    height: 235px;
    float: left ;
    margin-left: 20px;
    text-align: justify;
    padding-top: 15px;
    font-family: monospace;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-input-pagina{
    width: inherit;
    height: 60px;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-input-pagina .titulo-input{
    width: 100%;
    height: 20px;
    float: left;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-input-pagina .input-pagina{
    width: 600px;
    height: 20px;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-conteudo-pagina{
    width: inherit;
    height: 200px;
    display: inline-block;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image{
    width: 250px;
    height: 180px;
    margin: 10px 5px;
    float: left;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image img{
    width: inherit;
    height: inherit;
    
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-titulo{
    width: 550px;
    height: 50px;
    margin-left: 5px;
    float: left;
    
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-titulo .titulo-input{
    width: 100%;
    height: 20px;
    float: left;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-titulo .input-pagina{
    width: 550px;
    height: 20px;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto{
    width: 550px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: left;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto textarea{
    width: inherit;
    height: inherit;
    resize: none;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-botao{
    width: inherit;
    height: 50px;
    display: inline-block;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-botao .preset-input-submit{
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 25px;
}
/****************PROJETO*****************/

#pag-cityshare-projeto{
    height: 1200px;
}
#pag-cityshare-projeto .box-conteudo #container-pagina{
    height:250px;
    width: 850px;
    margin-top: 20px;
    margin-left: auto ;
    margin-right: auto ;
    padding: 5px;
    
}
#pag-cityshare-projeto .box-conteudo #container-pagina #box-texto {
    width:470px;
    height: 235px;
    float: left ;
    margin-left: 20px;
    text-align: justify;
    padding-top: 15px;
    font-family: monospace;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-input-pagina{
    width: inherit;
    height: 60px;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-input-pagina .titulo-input{
    width: 100%;
    height: 20px;
    float: left;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-input-pagina .input-pagina{
    width: 600px;
    height: 20px;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina{
    width: inherit;
    height: 200px;
    display: inline-block;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image{
    width: 250px;
    height: 180px;
    margin: 10px 5px;
    float: left;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image img{
    width: inherit;
    height: inherit;
    
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-titulo{
    width: 550px;
    height: 50px;
    margin-left: 5px;
    float: left;
    
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-titulo .titulo-input{
    width: 100%;
    height: 20px;
    float: left;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-titulo .input-pagina{
    width: 550px;
    height: 20px;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto{
    width: 550px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: left;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto textarea{
    width: inherit;
    height: inherit;
    resize: none;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto-2{
    width: 810px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: left;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto-2 textarea{
    width: inherit;
    height: inherit;
    resize: none;
}

#pag-cityshare-projeto .box-conteudo #container-pagina .box-botao{
    width: inherit;
    height: 50px;
    display: inline-block;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-botao .preset-input-submit{
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 25px;
}

/****************ADMINISTRADORES*****************/

#pag-cityshare-adm{
    height: 580px;
}
#pag-cityshare-adm .box-conteudo {
    width: 870px;
    height: auto;
    float: left ;    
}

#pag-cityshare-adm .box-conteudo .box-conteudo-adm {
    width: 200px;
    height: 150px;
    float: left;
    background-color: #a1aec9;
    margin: 5px 10px;
    border-radius: 0px 0px 2px 2px;
    padding: 5px;
}

#pag-cityshare-adm .box-conteudo .box-conteudo-adm .titulo-conteudo-adm {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #70798d;
    text-align: center;
    font-size: 18px;
    color: white;
}

#pag-cityshare-adm .box-conteudo .box-conteudo-adm .box-adm-info {
    width: 100%;
    height: 90px;
}

#pag-cityshare-adm .box-conteudo .box-conteudo-adm .box-adm-info .box-info-label {
    display: block;
    height: 90px;   
}

#pag-cityshare-adm .box-conteudo .box-conteudo-adm .box-adm-info .box-info-label .info {
    font-style: italic;
}

#pag-cityshare-adm .box-conteudo .box-conteudo-adm .box-adm-info .nome-adm {
    
}


#pag-cityshare-adm .box-conteudo .box-conteudo-adm .box-btn-edit{
    width: 100%;
    height: 20px;
    padding-top: 5px;
}

#pag-cityshare-adm .box-conteudo .box-conteudo-adm .box-btn-edit .preset-botao{
    width: 60px;
    height: 100%;
    float: right;
}
#pag-cityshare-adm .box-conteudo .container-campos{
    height:250px;
    width: 850px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
#pag-cityshare-adm-edit .box-conteudo .container-campos .box-input-pagina{
    width: inherit;
    height: 60px;
    margin-left: 10px; 
}
#pag-cityshare-adm-edit .box-conteudo .container-campos .box-input-pagina .titulo-input{
    width: 100%;
    height: 20px;
    float: left;
}

#pag-cityshare-adm-edit .box-conteudo .container-campos .box-input-pagina .titulo-input .label {
    display: block;
}

#pag-cityshare-adm-edit .box-conteudo .container-campos .box-input-pagina .input-pagina{
    width: 400px;
    height: 20px;
}
#pag-cityshare-adm-edit .box-conteudo .container-campos .box-input-pagina select{
    width: 200px;
    height: 20px;
}
#pag-cityshare-adm-edit .box-conteudo .container-campos .box-conteudo-pagina{
    width: inherit;
    height: 200px;
    display: inline-block;
}
#pag-cityshare-adm-edit .box-conteudo .container-campos .box-botao{
    width: inherit;
    height: 50px;
    display: inline-block;
}
#pag-cityshare-adm-edit .box-conteudo .container-campos .box-botao .preset-input-submit {
    width: 80px;
    height: 30px;
    float: left;
    margin-left: 25px;
    margin-top: 100px;
}

#pag-cityshare-adm-edit .box-conteudo .container-campos .box-botao .preset-botao {
    width: 80px;
    padding: 4px 0px;
    float: left;
    margin-top: 100px;
    margin-left: 25px;
}

/****************HOME*****************/

#pag-cityshare-home {
    height: 540px;
}

#pag-cityshare-home .box-conteudo #container-pagina{
    height:250px;
    width: 850px;
    margin-top: 20px;
    margin-left: auto ;
    margin-right: auto ;
    padding: 5px;
    
}

#pag-cityshare-home .box-conteudo #container-pagina #box-texto {
    width:470px;
    height: 235px;
    float: left ;
    margin-left: 20px;
    text-align: justify;
    padding-top: 15px;
    font-family: monospace;
}

#pag-cityshare-home .box-conteudo #container-pagina .box-input-pagina{
    width: inherit;
    height: 60px;
}

#pag-cityshare-home .box-conteudo #container-pagina .box-input-pagina .titulo-input{
    width: 100%;
    height: 20px;
    float: left;
}

#pag-cityshare-home .box-conteudo #container-pagina .box-input-pagina .input-pagina{
    width: 600px;
    height: 20px;
}

#pag-cityshare-home .box-conteudo #container-pagina .box-conteudo-pagina{
    width: inherit;
    height: 300px;
    display: inline-block;
}

#pag-cityshare-home .box-conteudo #container-pagina .box-conteudo-pagina .titulo-sessao{
    width: 100%;
    height: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 16px;
}
#pag-cityshare-home .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image{
    width: 450px;
    height: 250px;
    margin: 10px 5px;
    float: left;
}
#pag-cityshare-home .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image img{
    width: inherit;
    height: inherit;
    
}
#pag-cityshare-home .box-conteudo #container-pagina .box-botao{
    width: inherit;
    height: 50px;
    display: inline-block;
}
#pag-cityshare-home .box-conteudo #container-pagina .box-botao .preset-input-submit{
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 25px;
}
/****************EMPRESTE*****************/

#pag-cityshare-empreste {
    height: 950px;
}

#pag-cityshare-empreste .box-conteudo #container-pagina{
    height:250px;
    width: 850px;
    margin-top: 20px;
    margin-left: auto ;
    margin-right: auto ;
    padding: 5px;
    
}
#pag-cityshare-empreste .box-conteudo #container-pagina .titulo-conteudo{
    width: 100%;
    height: 30px;
    font-size: 18px;
    border-bottom: 1px solid black;
    text-align: center;
    margin: 5px 0px;
}

#pag-cityshare-empreste .box-conteudo #container-pagina #box-texto {
    width:470px;
    height: 235px;
    float: left ;
    margin-left: 20px;
    text-align: justify;
    padding-top: 15px;
    font-family: monospace;
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-input-pagina{
    width: inherit;
    height: 60px;
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-input-pagina .titulo-input{
    width: 100%;
    height: 20px;
    float: left;
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-input-pagina .input-pagina{
    width: 600px;
    height: 20px;
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-conteudo-pagina{
    width: inherit;
    height: 300px;
    display: inline-block;
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-conteudo-pagina .titulo-sessao{
    width: 100%;
    height: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 16px;
}

#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto-2{
    width: 810px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: left;
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image{
    width: 450px;
    height: 200px;
    margin: 10px 5px;
    float: left;
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image img{
    width: inherit;
    height: inherit;
    
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-botao{
    width: inherit;
    height: 50px;
    display: inline-block;
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-botao .preset-input-submit{
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 25px;
}
/***************CONTATO*******************/
#pag-cityshare-contato{
    height: 1250px;
    
}
#pag-cityshare-contato .box-conteudo {
    
}
#pag-cityshare-contato .box-conteudo .titulo-sesssao{
    width: 100%;
    height: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 20px;
    text-align: center;
}
#pag-cityshare-contato .box-conteudo #container-fale-conosco{
    height: auto;
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    
}

#pag-cityshare-contato .box-conteudo .item-fale-conosco{
    margin-left: auto;
    margin-right: auto ;
    width: 600px;
    height: 50px;
}
#pag-cityshare-contato .box-conteudo .box-input-pagina{
    margin-left: auto;
    margin-right: auto ;
    width: 600px;
    height: 50px;
    margin-bottom: 10px;
}

#pag-cityshare-contato .box-conteudo #container-fale-conosco .titulo-input{
    width: 100%;
    height: 20px;
    float: left;
}

#pag-cityshare-contato .box-conteudo  .input-pagina {
    width: 600px;
    height: 20px;
}

#pag-cityshare-contato .box-conteudo #container-fale-conosco .botao-submit {
    display: block;
    width: 100px;
    padding: 5px 0px;
    margin: 20px auto;
}


#pag-cityshare-contato .box-conteudo #container-perguntas {
    height: 700px;
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;    
}

#pag-cityshare-contato .box-conteudo #container-perguntas #wrapper-perguntas {
    max-height: 400px;
    overflow-y: auto;
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta {
    width: 610px; 
    height: 100px;
    border: solid 1px #e2e2e2;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto ;
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta .box-inputs {
    display: block;
    width: 420px;
    float: left;
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta .box-acoes {
    float: left;
    width: 100px;
    margin-top: 15px;
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta .box-acoes .botao-remover {
    display: block;
    width: 80px;    
    padding: 5px 0px;
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta .box-acoes .botao-submit {
    display: block;
    width: 80px;
    height: 30px;    
    margin-top: 10px;    
}

#pag-cityshare-contato .box-conteudo #container-perguntas .box-input-pagina {
    width: 610px;
    height: 50px;
    border: solid 1px #e2e2e2;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto ;
}

#pag-cityshare-contato .box-conteudo  .box-botao {
    width: inherit;
    height: 50px;
    display: inline-block;
}

#pag-cityshare-contato .box-conteudo  .box-botao .preset-input-submit {
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 25px;
}
#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta-combotao {
    background-color: #f9f9f9;
    text-align: center;
    width: 620px;
    height: 200px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dcdcdc;
    
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta-combotao .box-label-input {
    margin-bottom: 20px;
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta-combotao .box-label-input .label {
    display: block;
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta-combotao .box-label-input .input {
    width: 600px;
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta-combotao .preset-botao{
    width: 100px;    
    font-size: 30px;
    font-weight: bold;    
}

/***************CLIENTES*******************/

#pag-clientes-usuarios .box-conteudo {
    height: 830px;
    overflow: auto;
}
#pag-clientes-usuarios .box-conteudo .box-usuario{
    width: 260px;
    height: 150px;
    float: left;
    background-color: #e2e2e2;
    margin: 5px;
    border-radius: 0px 0px 2px 2px;
    padding: 5px;
}
#pag-clientes-usuarios .box-conteudo .box-usuario .nome-usuario{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center ;
    border-bottom: solid 2px ;
    
}
#pag-clientes-usuarios .box-conteudo .box-usuario .cont-usuario{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
#pag-clientes-usuarios #box-pesquisa{
    margin-bottom: 20px;
    
}
#pag-clientes-usuarios #box-pesquisa #search {
    height: 30px;
    width: 700px;
    border-radius: 8px;
    border: 0 ;
    background-color: none ;
    margin-left: 10px;
}
#pag-clientes-usuarios #box-pesquisa #btn-pesquisar {
    height: 30px;
    width: 70px;
    border-radius: 8px;
    border: 0 ;
    background-color: #c2c2c2 ;
    margin-left: 10px;
}
/*=-=-=-=-=-==-=-=-=-=PAGINA ACESSORIO-==-=-==-=-=-=-=-=-=-=-*/
#pag-acessorio-veiculo .box-conteudo {
    height: 870px;
    
}
#pag-acessorio-veiculo .box-conteudo #box-novo-registro {
    width: 100% ;
    height: 200px;
}
#pag-acessorio-veiculo .box-conteudo #box-novo-registro .btn{
    height: 30px;
    width: 80px;
    border: 0 ;
    background-color: #3e3e3e ;
    color: #fff ;
    margin-left: 40px;
    margin-top: 10px;
    float: left ;
    text-align: center ;
    line-height: 30px;
}
#pag-acessorio-veiculo .box-conteudo #box-novo-registro .btn : hover {
    background-color: #989898 ;
    
}
#pag-acessorio-veiculo .box-conteudo #box-novo-registro #box-btn-exc-cancelar {
    width: auto;
    height: 50px;
    float: right ;
    margin-right: 40px;
}
#pag-acessorio-veiculo .box-conteudo #box-listagem-acessorios {
    height: 670px;
    width: 100% ;
    overflow: auto ;
}
#pag-acessorio-veiculo .box-conteudo #box-listagem-acessorios .item-acessorio {
    height: 50px ;
    width: 100% ;
    background-color: #e2e2e2 ;
    line-height: 50px;
    margin-bottom: 10px;
    
    
}
#pag-acessorio-veiculo .box-conteudo #box-listagem-acessorios .item-acessorio .input-label {
    margin-left: 30px;
}
#pag-acessorio-veiculo .box-conteudo #box-listagem-acessorios .item-acessorio .input {
    margin-left: 30px;
    width: 400px;
    height: 20px;
    
}
#pag-acessorio-veiculo .box-conteudo #box-listagem-acessorios .item-acessorio .btn_enviar {
    height: 30px;
    width: 80px;
    border: 0 ;
    background-color: #3e3e3e ;
    color: #fff ;
    float: right ;
    margin-right: 40px;
    margin-top: 10px;
}


/*=-=-=-=-=-==-=-=-=-=PAGINA ACESSORIO-==-=-==-=-=-=-=-=-=-=-*/
/*=-=-=-=-=-==-=-=-=-=PAGINA Fabricante-==-=-==-=-=-=-=-=-=-=-*/
#pag-fabricante-veiculo .box-conteudo {
    height: 870px;
    
}
#pag-fabricante-veiculo .box-conteudo #box-novo-registro {
    width: 100% ;
    height: 200px;
}
#pag-fabricante-veiculo .box-conteudo #box-novo-registro .btn{
    height: 30px;
    width: 80px;
    border: 0 ;
    background-color: #3e3e3e ;
    color: #fff ;
    margin-left: 40px;
    margin-top: 10px;
    float: left ;
    text-align: center ;
    line-height: 30px;
}
#pag-fabricante-veiculo .box-conteudo #box-novo-registro .btn : hover {
    background-color: #989898 ;
    
}
#pag-fabricante-veiculo .box-conteudo #box-novo-registro #box-btn-exc-cancelar {
    width: auto;
    height: 50px;
    float: right ;
    margin-right: 40px;
}
#pag-fabricante-veiculo.box-conteudo #box-listagem-acessorios {
    height: 670px;
    width: 100% ;
    overflow: auto ;
}
#pag-fabricante-veiculo .box-conteudo #box-listagem-acessorios .item-acessorio {
    height: 50px ;
    width: 100% ;
    background-color: #e2e2e2 ;
    line-height: 50px;
    margin-bottom: 10px;
    
    
}
#pag-fabricante-veiculo .box-conteudo #box-listagem-acessorios .item-acessorio .input-label {
    margin-left: 30px;
}
#pag-fabricante-veiculo .box-conteudo #box-listagem-acessorios .item-acessorio .input {
    margin-left: 30px;
    width: 400px;
    height: 20px;
    
}
#pag-fabricante-veiculo .box-conteudo #box-listagem-acessorios .item-acessorio .btn_enviar {
    height: 30px;
    width: 80px;
    border: 0 ;
    background-color: #3e3e3e ;
    color: #fff ;
    float: right ;
    margin-right: 40px;
    margin-top: 10px;
}


/*=-=-=-=-=-==-=-=-=-=PAGINA ACESSORIO-==-=-==-=-=-=-=-=-=-=-*/

/*---- PAGINA ADM DE CONTEÚDO CITY SHARE ----*/
#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-form-tipo {
    margin: 0px 100px;
    background-color: white;
    border: 1px solid #cecece;
    padding: 10px;
}

#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-form-tipo .box-label-input {
    margin-bottom: 20px;
}

#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-form-tipo .box-label-input .label {
    display: block;
}

#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-form-tipo .box-label-input .input {
    width: 600px;
}

#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-form-tipo input[type="submit"] {
    width: 100px;    
    font-size: 30px;
    font-weight: bold;    
}

#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-form-tipo .horizontal-input-wraper {
    display: block;
    width: 200px;
    float: left;
}

#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-form-tipo .preset-botao {
    font-size: 18px;
}

#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-listagem-tipo .tabela-tipo{
    display: block;
    width: 300px;
    margin: 0 auto;
}
#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-listagem-tipo .tabela-tipo #colunas-label{
    display: block;
    background-color: aliceblue;
    border-bottom: 1px solid #bababa;
    margin-top: 50px;
}
#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-listagem-tipo .tabela-tipo #colunas-label .coluna-tipo{
    width: 100px;
    border-right: 1px solid #bababa;
}
#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-listagem-tipo .tabela-tipo #colunas-label td{
    width: 100px;
}
/***************VEÍCULOS*******************/

#pag-adm-veiculos {
    height: 1020px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo {
    background-color: #ffffff;
    width: 600px;
    height: 255px;
    padding: 5px;
    padding-bottom: 0px;
    border: 1px solid #cecece;
    margin: 0 auto;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper {
    margin: 5px 0px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo #box-nome .input {
    width: 595px;    
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo #box-transmissao .input {
    width: 170px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper .box-label-input {
    display: inline-block;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper .box-label-input .input {
    width: 80px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper#box-detalhes #box-preco .input {
    width: 220px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper#box-detalhes .input {
    width: 180px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper#box-filtragem {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 0px;
    margin: 5px 0px;    
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper#box-filtragem .titulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper#box-filtragem .input {
    width: 180px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper#box-acoes {
    padding: 5px 0px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper#box-acoes .botao {
    width: 100px;
    padding: 5px 0px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper#box-acoes .box-salvar-cancelar {
    float: right;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo form.js-modo-insercao .horizontal-input-wrapper#box-acoes #botao-remover,
#pag-adm-veiculos .box-conteudo #box-form-veiculo form.js-modo-insercao .horizontal-input-wrapper#box-acoes #botao-cancelar {
    display: none;
}

#pag-adm-veiculos .box-conteudo #box-filtragem-veiculos {
    background-color: #fff;
    width: 600px;
    border: 1px solid #cecece;
    padding: 5px;
    margin: 5px auto;
}

#pag-adm-veiculos .box-conteudo #box-filtragem-veiculos .horizontal-input-wrapper .box-label-input {
    display: inline-block;
}

#pag-adm-veiculos .box-conteudo #box-filtragem-veiculos .horizontal-input-wrapper .box-label-input .input {
    width: 140px;
}

#pag-adm-veiculos .box-conteudo #box-filtragem-veiculos .horizontal-input-wrapper #box-cod .input {
    width: 100px;
}

#pag-adm-veiculos .box-conteudo #box-filtragem-veiculos .horizontal-input-wrapper #box-preco-medio .input {
    width: 200px;
}

#pag-adm-veiculos .box-conteudo #box-filtragem-veiculos .horizontal-input-wrapper #box-nome .input {
    width: 308px;
}

#pag-adm-veiculos .box-conteudo #box-filtragem-veiculos  #botao-buscar {
    display: block;
    width: 100px;
    padding: 5px 0px;
    margin-top: 5px;
    margin-left: auto;
}

#pag-adm-veiculos .box-conteudo #box-listagem-veiculos {    
    display: block;    
    width: 800px;
    height: 100%;
    margin: 0 auto;
}

#pag-adm-veiculos .box-conteudo #box-listagem-veiculos .tabela-veiculos {
    display: block;
    width: 750px;
    margin: 0 auto;    
}

#pag-adm-veiculos .box-conteudo #box-listagem-veiculos .tabela-veiculos tr {
    display: block;    
    background-color: aliceblue;
    border-bottom: 1px solid #bababa;
}

#pag-adm-veiculos .box-conteudo #box-listagem-veiculos .tabela-veiculos tr td {        
    display: inline-block;
    width: 98px;
    padding: 5px 0px;    
}

#pag-adm-veiculos .box-conteudo #box-listagem-veiculos .tabela-veiculos tr td:not(:last-child) {
    border-right: 1px solid #bababa;
}

#pag-adm-veiculos .box-conteudo #box-listagem-veiculos .tabela-veiculos tr td .botao-editar {
    display: block;
    width: 80px;
}

#pag-adm-veiculos .box-conteudo #box-listagem-veiculos .tabela-veiculos tr .coluna-nome {
    width: 120px;
}

#pag-adm-veiculos .box-conteudo #box-listagem-veiculos #box-paginas {
    display: block;    
    width: 300px;
    margin: 10px auto;
    text-align: center;
}

#pag-adm-veiculos .box-conteudo #box-listagem-veiculos #box-paginas .botao-paginas {
    width: 100px;
    padding: 5px 0px;
}

#pag-adm-veiculos .box-conteudo #box-listagem-veiculos #box-paginas span,
#pag-adm-veiculos .box-conteudo #box-listagem-veiculos #box-paginas #info-pagina {
    display: inline-block;
}
/*---- PAGINA ADM DE VEICULOS CITY SHARE ----*/

/*---- PAGINA ADM DE VEICULOS CITY SHARE ----*/

footer{
    background-color: #202020;
    width: 1070px;
    height: 200px;
    margin: 0 auto;
    padding: 5px;
    
}

footer #box-rodape{
    width: inherit;
    height: inherit;
}

footer #box-rodape #box-logo-rodape{
    width: 250px;
    height: 200px;    
    background-color: aqua;
}

.CMS_main{
    width: 1080px;
    height: 100%;
    background-color: #ebebeb;
}