@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*------------------------------------------------------------------------- CSS RESET*/

body {
    margin: 0;
    background-image: url(../Image/bg.jpg);
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height:100%;
}

a {
    text-decoration: none;
    color: black ;
}

.preset-input-text {
    background: none;
    border: none;
    border-bottom: 1px solid #A1AEC9;
    color: gray;
    outline: none;
}

.preset-input-text:focus {
    border-bottom: 1px solid #557BC9;
    color: black;
}

.preset-botao, .preset-input-submit {
    display: inline-block;    
    background-color: #202020;    
    color: #ebebeb;
    text-align: center;    
    border-radius: 3px;
    border: 0px;
    outline: none;
    cursor: pointer;
    border-bottom: 4px solid #141619;    
}

.preset-botao:hover, .preset-input-submit:hover {
    background-color: #3c3c3c;
    color: #ffffff;
    border-bottom: 4px solid #202020;
}

.preset-botao:active, .preset-input-submit:active {
    background-color: #141619;
    border-bottom: 4px solid #202020;    
}

.box-input-imagem .botao-imagem {
    background-image: url(../image/banner_test.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.box-input-imagem .input {
    display: none;
}

.box-label-input .label {
    display: block;
}

.box-label-input .input {
    width: 400px;
}

.ajax-form-table {
    display: block;
    margin: 0 auto;    
}

.ajax-form-table tr {
    display: block;    
    background-color: aliceblue;
    border-bottom: 1px solid #bababa;
}

.ajax-form-table tr td {        
    display: inline-block;
    width: 98px;
    padding: 5px 0px;    
}

.ajax-form-table tr td:not(:last-child) {
    border-right: 1px solid #bababa;
}

.ajax-form-table tr td .botao-editar {
    display: block;
    width: 80px;
    margin: 0 auto;
}

#box-table-paginas {
    display: block;    
    width: 350px;
    margin: 10px auto;
    text-align: center;
}

#box-table-paginas .botao-paginas {
    width: 100px;
    padding: 5px 0px;
}

#box-table-paginas span,
#box-table-paginas #info-pagina {
    width: 150px;
    display: inline-block;
}

/*------------- PRESETS*/

/*---- PAGINA DE LOGIN DO CMS ----*/
#main_login {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    background-color: #ebebeb;
}

#main_login .conteudo {
    width: 500px;
    margin: 0 auto;
    
}

#main_login #banner_login {    
    height: 300px;
}

#main_login #content_login {    
    height: 400px;
    background-color: #ebebeb;
    align-content: center;
}

#main_login .text-input {
    background-color: inherit;
    width: 300px;
    height: 30px;
    padding: 2px;
    margin-left: 20px;
    font-size: 1.2em;
    border: 0;
    border-bottom: 2px solid #a1aec9;
    outline: none;
    border-radius: 2px 2px 0px 0px;
    transition: border-bottom .2s;
    margin-bottom: 20px;
    color: #a1aec9;
}

#main_login .text-input:focus {
    border-bottom: 2px solid #557bc9;
}

#main_login .submit-input {
    width: 100px;
    height: 35px;
    display: block;
    margin-left: 120px;
    margin-top: 10px;
    background-color: #afafaf;
    color: black;
    border: 0px;
    outline: none;
    border-radius: 5px;
    font-weight: bold;    
}

#main_login .submit-input:hover {
    cursor: pointer;
    background-color: #525252;    
    color: white;    
}

#main_login #footer_login {    
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #a1aec9;
    position:absolute;
	bottom:0;
	
}

#main_login #form_login {
    width: 160px;
    margin: 0 auto;
    padding-top: 195px;
    padding-right: 140px;    
}
/*---- PAGINA HOME DO CMS ----*/
#container {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

header {
    background-color: #141619;
    width: 1080px;
    height: 200px;
    margin: 0 auto;
    border-bottom: 5px solid #141619;
    padding: 5px 0px;
}
header #box-cabecalho {
    width: inherit;
    height: inherit;
    margin: 0 auto;
}
header #box-cabecalho #box-image-logo {
    background-image: url(../Image/city_share_cms.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    margin-left: 10px;
    float: left;
}
header #box-cabecalho #box-conta {
    width: 200px;
    height: 120px;
    margin: 15px;
    float: right;
    background-color: #ebebeb;
    border-radius: 2px 2px 2px 10px;
}
header #box-cabecalho #box-conta #box-info-usuario {
    width: 200px;
    height: 120px;
    float: left;
}
header #box-cabecalho #box-conta #box-info-usuario #nome-usuario {
    font-size: 16px;
    font-weight: bold;    
    margin-top: 10px;
    text-align: center;
}
header #box-cabecalho #box-conta #box-info-usuario #nivel-usuario {
    font-size: 14px;       
    margin-top: 5px;
    text-align: center;
}

header #box-cabecalho #box-conta #box-logout {    
    text-align: right;
    padding-right: 5px;
    margin-top: 35px;
}

header #box-cabecalho #box-conta #botao-logout {
    width: 80px;
    padding: 5px 0px;
}

.CMS_main .box-menu-lateral {
    width: 200px;
    height: inherit;
    background-color: #557bc9;
    float: left ;
    top: 0px;
}
.CMS_main .box-menu-lateral {
    width: 200px;
    height: 100%;
    background-color: #141619;
    float: left ;
    top: 0px;
    float: left;
    padding: 0px 5px;
}
.box-menu-lateral .menu-lateral {
    width: 200px;
    height: 220px;
}
.box-menu-lateral .menu-lateral ul {
    list-style-type: none;
}
.box-menu-lateral .menu-lateral ul li {
    display: block;
    background-color: #ebebeb;
    width: 195px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 5px;
    border-radius: 2px;
    padding-left: 5px;
}

.box-menu-lateral .menu-lateral ul li:hover {
    background-color: #a1aec9;
}

.box-menu-lateral .menu-lateral ul li:hover a {
    color: white;
}

.box-menu-lateral .menu-lateral ul li a {
    display: block;
    text-align: left;
    width: 145px;
    float: left;
    color: #000000;
}
.box-menu-lateral .menu-lateral ul li img {
    width: 42px;
    height: 42px;
    margin: 3px;
}
.box-menu-lateral .menu-lateral ul li img:hover {
    cursor: pointer;
}
/*---- CABEÇALHO ----*/

#box-caminho {
    width: 800px;
    height: 30px;    
    float: left ;
    line-height: 30px;
    font-size: 20px;
    border-bottom: solid 2px #c3c3c3 ;
    padding-left: 20px;
    margin-bottom: 20px;
    color: #c2c2c2
}

#box-caminho .link-caminho {
    text-decoration: none ;
    color: #c2c2c2 ;
}

#box-caminho .link-caminho:hover {
    color: blue;
}

.box-conteudo {
    width: 870px;    
    float: left ;
}

#box-erros {
    padding: 10px;
}

#box-erros #erros li {
    color: red;
}

.box-conteudo .box-conteudo-menu {
    width: 150px;
    height: 150px;
    float: left;
    background-color: #a1aec9;
    margin: 5px;
    border-radius: 0px 0px 2px 2px;
    padding: 5px;
}

.box-conteudo .box-conteudo-menu img {
    width: 145px;
    height: 120px;
}

.box-conteudo .box-conteudo-menu .titulo-conteudo-menu {
    display: block;
    width: 150px;
    padding-bottom: 5px;
    text-align: center;
    color: white;    
}

.box-conteudo .box-conteudo-menu .titulo-conteudo-menu a {
    color: white;
    font-size: 16px;
}

.box-conteudo .lista-wrapper {
    width: 707px;
    max-height: 500px;
    margin: 15px 0px;
    overflow: auto;
    float: left;
}

.box-conteudo .box-operacoes {
    display: block;
    width: 130px;
    background-color: #d3d3d3;
    float: right;
    padding: 10px;
}

.box-conteudo .box-operacoes #menu-operacoes li {
    display: inline-block;
}

.box-conteudo .box-operacoes #menu-operacoes li .botao-operacao {
    width: 100px;
    padding: 10px 0px;
}

/*---- PAGINA ADM DE CONTEÚDO CITY SHARE ----*/
/*pagina de beneficios */
#pag-cityshare-beneficios {
    height: 1240px;
}

.box-conteudo .titulo-sessao {
    width: 100%;
    height: 30px;
    font-size: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
}

.box-conteudo #container-previa {
    height: 250px;
    width: 850px;
    margin: 10px auto;
    padding: 5px;    
}

.box-conteudo #container-previa #box-texto-previa {
    width:470px;
    height: 235px;
    float: left;
    text-align: justify;
}

.img-beneficios {
    width: 350px;
    height: 250px;
    border-radius: 15px;
}

.box-conteudo #container-previa input {
    margin: 0px 10px;
}

.box-conteudo #container-previa #input-previa {
    height: 230px;
    width: 470px;
    resize: none;
    margin: 5px 10px;
}

.box-conteudo #container-pagina {
    height:250px;
    width: 850px;
    margin-top: 20px;
    margin-left: auto ;
    margin-right: auto ;
    padding: 5px;
    
}

.box-conteudo #container-pagina #box-texto {
    width:470px;
    height: 235px;
    float: left ;
    margin-left: 20px;
    text-align: justify;
    padding-top: 15px;
    font-family: monospace;
}

.box-conteudo .box-input-pagina {
    width: inherit;
    height: 60px;
    padding: 10px;
}

.box-conteudo .container-campos .box-input-checkbox {
    width: inherit;
    height: auto;
}

.box-conteudo .container-campos .box-input-checkbox .box-checkbox {
    width: 100%;
    height: 20px;
    display: block;
    margin: 5px 10px;
}

.box-conteudo .box-input-pagina .titulo-input {
    width: 100%;
    height: 20px;
    float: left;
}

.box-conteudo  .box-input-pagina .input-pagina {
    width: 600px;
    height: 20px;
}

.box-conteudo #container-pagina .box-conteudo-pagina {
    width: inherit;
    height: 200px;
    display: inline-block;
}

.box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image {
    width: 250px;
    height: 180px;
    margin: 10px 5px;    
    float: left;
}
.box-conteudo #container-previa .conteudo-image {
    width: 350px;
    height: 230px;
    margin: 5px 5px;    
    float: left;
}

.box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto {
    width: 550px;
    height: 175px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: left;
}

.box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto textarea {
    width: inherit;
    height: inherit;
    resize: none;
}

.box-conteudo #container-pagina .box-botao {
    width: inherit;
    height: 50px;
    display: inline-block;
}

.box-conteudo #container-pagina .box-botao .preset-input-submit {
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 25px;
}

.box-conteudo #container-pagina #box-publicacoes {
    width: 100% ;
    height: 600px;
    overflow: auto;
    
}

#pag-cityshare-beneficios .box-conteudo #container-pagina #box-publicacoes {
    height: auto;    
}

/****************EMPRESA*****************/

#pag-cityshare-empresa {
    height: 1000px;
}

#pag-cityshare-empresa .box-conteudo #container-pagina {
    height:250px;
    width: 850px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#pag-cityshare-empresa .box-conteudo #container-previa {
    height: 150px;
}

#pag-cityshare-empresa .box-conteudo #container-previa #input-previa {
    height: 130px;
    width: 825px;
    resize: none;
    margin: 5px 10px;
}

#pag-cityshare-empresa .box-conteudo #container-pagina #box-texto {
    width:470px;
    height: 235px;
    float: left ;
    margin-left: 20px;
    text-align: justify;
    padding-top: 15px;
    font-family: monospace;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-input-pagina {
    width: inherit;
    height: 60px;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-input-pagina .titulo-input {
    width: 100%;
    height: 20px;
    float: left;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-input-pagina .input-pagina {
    width: 600px;
    height: 20px;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-conteudo-pagina {
    width: inherit;
    height: 200px;
    display: inline-block;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image {
    width: 250px;
    height: 180px;
    margin: 10px 5px;
    float: left;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image img {
    width: inherit;
    height: inherit;
    
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-titulo {
    width: 550px;
    height: 50px;
    margin-left: 5px;
    float: left;
    
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-titulo .titulo-input {
    width: 100%;
    height: 20px;
    float: left;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-titulo .input-pagina {
    width: 550px;
    height: 20px;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto {
    width: 550px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: left;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto textarea {
    width: inherit;
    height: inherit;
    resize: none;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-botao {
    width: inherit;
    height: 50px;
    display: inline-block;
}
#pag-cityshare-empresa .box-conteudo #container-pagina .box-botao .preset-input-submit {
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 25px;
}
/****************PROJETO*****************/

#pag-cityshare-projeto {
    height: 1200px;
}
#pag-cityshare-projeto .box-conteudo #container-pagina {
    height:250px;
    width: 850px;
    margin-top: 20px;
    margin-left: auto ;
    margin-right: auto ;
    padding: 5px;
    
}
#pag-cityshare-projeto .box-conteudo #container-pagina #box-texto {
    width:470px;
    height: 235px;
    float: left ;
    margin-left: 20px;
    text-align: justify;
    padding-top: 15px;
    font-family: monospace;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-input-pagina {
    width: inherit;
    height: 60px;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-input-pagina .titulo-input {
    width: 100%;
    height: 20px;
    float: left;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-input-pagina .input-pagina {
    width: 600px;
    height: 20px;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina {
    width: inherit;
    height: 200px;
    display: inline-block;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image {
    width: 250px;
    height: 180px;
    margin: 10px 5px;
    float: left;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image img {
    width: inherit;
    height: inherit;
    
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-titulo {
    width: 550px;
    height: 50px;
    margin-left: 5px;
    float: left;
    
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-titulo .titulo-input {
    width: 100%;
    height: 20px;
    float: left;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-titulo .input-pagina {
    width: 550px;
    height: 20px;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto {
    width: 550px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: left;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto textarea {
    width: inherit;
    height: inherit;
    resize: none;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto-2 {
    width: 810px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: left;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto-2 textarea {
    width: inherit;
    height: inherit;
    resize: none;
}

#pag-cityshare-projeto .box-conteudo #container-pagina .box-botao {
    width: inherit;
    height: 50px;
    display: inline-block;
}
#pag-cityshare-projeto .box-conteudo #container-pagina .box-botao .preset-input-submit {
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 25px;
}

/****************ADMINISTRADORES*****************/

#pag-cityshare-adm {
    height: 580px;
}
#pag-cityshare-adm .box-conteudo {
    width: 870px;
    height: auto;
    float: left ;    
}

#pag-cityshare-adm .box-conteudo .box-conteudo-adm {
    width: 200px;
    height: 150px;
    float: left;
    background-color: #a1aec9;
    margin: 5px 10px;
    border-radius: 0px 0px 2px 2px;
    padding: 5px;
}

#pag-cityshare-adm .box-conteudo .box-conteudo-adm .titulo-conteudo-adm {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #70798d;
    text-align: center;
    font-size: 18px;
    color: white;
}

#pag-cityshare-adm .box-conteudo .box-conteudo-adm .box-adm-info {
    width: 100%;
    height: 90px;
}

#pag-cityshare-adm .box-conteudo .box-conteudo-adm .box-adm-info .box-info-label {
    display: block;
    height: 90px;   
}

#pag-cityshare-adm .box-conteudo .box-conteudo-adm .box-adm-info .box-info-label .info {
    font-style: italic;
}

#pag-cityshare-adm .box-conteudo .box-conteudo-adm .box-adm-info .nome-adm {
    
}


#pag-cityshare-adm .box-conteudo .box-conteudo-adm .box-btn-edit {
    width: 100%;
    height: 20px;
    padding-top: 5px;
}

#pag-cityshare-adm .box-conteudo .box-conteudo-adm .box-btn-edit .preset-botao {
    width: 60px;
    height: 100%;
    float: right;
}
#pag-cityshare-adm .box-conteudo .container-campos {
    height:250px;
    width: 850px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
#pag-cityshare-adm-edit .box-conteudo .container-campos .box-input-pagina {
    width: inherit;
    height: 60px;
    margin-left: 10px; 
}
#pag-cityshare-adm-edit .box-conteudo .container-campos .box-input-pagina .titulo-input {
    width: 100%;
    height: 20px;
    float: left;
}

#pag-cityshare-adm-edit .box-conteudo .container-campos .box-input-pagina .titulo-input .label {
    display: block;
}

#pag-cityshare-adm-edit .box-conteudo .container-campos .box-input-pagina .input-pagina {
    width: 400px;
    height: 20px;
}
#pag-cityshare-adm-edit .box-conteudo .container-campos .box-input-pagina select {
    width: 200px;
    height: 20px;
}
#pag-cityshare-adm-edit .box-conteudo .container-campos .box-conteudo-pagina {
    width: inherit;
    height: 200px;
    display: inline-block;
}
#pag-cityshare-adm-edit .box-conteudo .container-campos .box-botao {
    width: inherit;
    height: 50px;
    display: inline-block;
}
#pag-cityshare-adm-edit .box-conteudo .container-campos .box-botao .preset-input-submit {
    width: 80px;
    height: 30px;
    float: left;
    margin-left: 25px;
    margin-top: 100px;
}

#pag-cityshare-adm-edit .box-conteudo .container-campos .box-botao .preset-botao {
    width: 80px;
    padding: 4px 0px;
    float: left;
    margin-top: 100px;
    margin-left: 25px;
}

/****************HOME*****************/

#pag-cityshare-home {
    height: 540px;
}

#pag-cityshare-home .box-conteudo #container-pagina {
    height:250px;
    width: 850px;
    margin-top: 20px;
    margin-left: auto ;
    margin-right: auto ;
    padding: 5px;
    
}

#pag-cityshare-home .box-conteudo #container-pagina #box-texto {
    width:470px;
    height: 235px;
    float: left ;
    margin-left: 20px;
    text-align: justify;
    padding-top: 15px;
    font-family: monospace;
}

#pag-cityshare-home .box-conteudo #container-pagina .box-input-pagina {
    width: inherit;
    height: 60px;
}

#pag-cityshare-home .box-conteudo #container-pagina .box-input-pagina .titulo-input {
    width: 100%;
    height: 20px;
    float: left;
}

#pag-cityshare-home .box-conteudo #container-pagina .box-input-pagina .input-pagina {
    width: 600px;
    height: 20px;
}

#pag-cityshare-home .box-conteudo #container-pagina .box-conteudo-pagina {
    width: inherit;
    height: 300px;
    display: inline-block;
}

#pag-cityshare-home .box-conteudo #container-pagina .box-conteudo-pagina .titulo-sessao {
    width: 100%;
    height: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 16px;
}
#pag-cityshare-home .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image {
    width: 450px;
    height: 250px;
    margin: 10px 5px;
    float: left;
}
#pag-cityshare-home .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image img {
    width: inherit;
    height: inherit;
    
}
#pag-cityshare-home .box-conteudo #container-pagina .box-botao {
    width: inherit;
    height: 50px;
    display: inline-block;
}
#pag-cityshare-home .box-conteudo #container-pagina .box-botao .preset-input-submit {
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 25px;
}
/****************EMPRESTE*****************/

#pag-cityshare-empreste {
    height: 950px;
}

#pag-cityshare-empreste .box-conteudo #container-pagina {
    height:250px;
    width: 850px;
    margin-top: 20px;
    margin-left: auto ;
    margin-right: auto ;
    padding: 5px;
    
}
#pag-cityshare-empreste .box-conteudo #container-pagina .titulo-conteudo {
    width: 100%;
    height: 30px;
    font-size: 18px;
    border-bottom: 1px solid black;
    text-align: center;
    margin: 5px 0px;
}

#pag-cityshare-empreste .box-conteudo #container-pagina #box-texto {
    width:470px;
    height: 235px;
    float: left ;
    margin-left: 20px;
    text-align: justify;
    padding-top: 15px;
    font-family: monospace;
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-input-pagina {
    width: inherit;
    height: 60px;
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-input-pagina .titulo-input {
    width: 100%;
    height: 20px;
    float: left;
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-input-pagina .input-pagina {
    width: 600px;
    height: 20px;
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-conteudo-pagina {
    width: inherit;
    height: 300px;
    display: inline-block;
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-conteudo-pagina .titulo-sessao {
    width: 100%;
    height: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 16px;
}

#pag-cityshare-projeto .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-texto-2 {
    width: 810px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: left;
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image {
    width: 450px;
    height: 200px;
    margin: 10px 5px;
    float: left;
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-conteudo-pagina .conteudo-image img {
    width: inherit;
    height: inherit;
    
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-botao {
    width: inherit;
    height: 50px;
    display: inline-block;
}
#pag-cityshare-empreste .box-conteudo #container-pagina .box-botao .preset-input-submit {
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 25px;
}
/***************CONTATO*******************/
#pag-cityshare-contato {
    height: 1420px;
    
}
#pag-cityshare-contato .box-conteudo {
    
}
#pag-cityshare-contato .box-conteudo .titulo-sesssao {
    width: 100%;
    height: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 20px;
    text-align: center;
}
#pag-cityshare-contato .box-conteudo #container-fale-conosco {
    height: auto;
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    
}

#pag-cityshare-contato .box-conteudo .item-fale-conosco {
    margin-left: auto;
    margin-right: auto ;
    width: 600px;
    height: 50px;
}
#pag-cityshare-contato .box-conteudo .box-input-pagina {
    margin-left: auto;
    margin-right: auto ;
    width: 600px;
    height: 50px;
    margin-bottom: 10px;
}

#pag-cityshare-contato .box-conteudo #container-fale-conosco .titulo-input {
    width: 100%;
    height: 20px;
    float: left;
}

#pag-cityshare-contato .box-conteudo  .input-pagina {
    width: 490px;
    height: 20px;
}

#pag-cityshare-contato .box-conteudo #container-fale-conosco .botao-submit {
    display: block;
    width: 100px;
    padding: 5px 0px;
    margin: 20px auto;
}

#pag-cityshare-contato .box-conteudo #container-perguntas {
    height: 700px;
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;    
}

#pag-cityshare-contato .box-conteudo #container-perguntas #wrapper-perguntas {
    max-height: 430px;
    margin: 10px;
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    overflow-y: auto;
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta {
    width: 610px; 
    height: 100px;
    border: solid 1px #e2e2e2;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto ;
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta .box-inputs {
    display: block;
    width: 510px;
    float: left;
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta .box-acoes {
    float: left;
    width: 100px;
    margin-top: 15px;
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta .box-acoes .botao-remover {
    display: block;
    width: 80px;    
    padding: 5px 0px;
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta .box-acoes .botao-submit {
    display: block;
    width: 80px;
    height: 30px;    
    margin-top: 10px;    
}

#pag-cityshare-contato .box-conteudo #container-perguntas .box-input-pagina {
    width: 610px;
    height: 50px;
    border: solid 1px #e2e2e2;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto ;
}

#pag-cityshare-contato .box-conteudo  .box-botao {
    width: inherit;
    height: 50px;
    display: inline-block;
}

#pag-cityshare-contato .box-conteudo  .box-botao .preset-input-submit {
    width: 100px;
    height: 40px;
    float: right;
    margin-right: 25px;
}
#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta-combotao {
    background-color: #f9f9f9;
    text-align: center;
    width: 620px;
    height: 200px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dcdcdc;
    
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta-combotao .box-label-input {
    margin-bottom: 20px;
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta-combotao .box-label-input .label {
    display: block;
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta-combotao .box-label-input .input {
    width: 600px;
}

#pag-cityshare-contato .box-conteudo #container-perguntas .pergunta-combotao .preset-botao {
    width: 100px;    
    font-size: 30px;
    font-weight: bold;    
}

/***************CLIENTES*******************/

#pag-clientes-usuarios .box-conteudo {
    height: 830px;
    overflow: auto;
}
#pag-clientes-usuarios .box-conteudo .box-listagem-usuario {
    width: 260px;
    height: 150px;
    float: left;
    background-color: #a1aec9;
    margin: 5px;
    border-radius: 0px 0px 2px 2px;
    padding: 5px;
}
#pag-clientes-usuarios .box-conteudo .box-listagem-usuario .nome-usuario {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center ;
    border-bottom: solid 2px ;
    font-size: 20px;
    
}
#pag-clientes-usuarios .box-conteudo .box-listagem-usuario .cont-usuario {
    width: 100%;
    height: 50px;
    line-height: 50px;
}
#pag-clientes-usuarios #box-pesquisa {
    margin-bottom: 20px;
    
}
#pag-clientes-usuarios #box-pesquisa #search-input {
    width: 700px;
    height: 25px;
    margin-left: 10px;
    float: left;
}
#pag-clientes-usuarios #box-pesquisa .preset-input-submit {
    width: 70px;
    height: 25px;
    margin-left: 5px;
}

#pag-clientes-usuarios .box-conteudo .box-listagem-usuario .box-botao .preset-botao {
    float: right;
    width: 60px;
}

/*=-=-=-=-=-==-=-=-=-=INFORMAÇÕES DO CLIENTE-==-=-==-=-=-=-=-=-=-=-*/
#pag-info-usuarios .box-conteudo {
    height: 830px;
}

#pag-info-usuarios .container-botoes-usuario {
    width: 820px;
    height: 40px;
    background-color: #a1aec9;
    padding-top: 5px;
    padding-bottom: 5px;
}

#pag-info-usuarios .container-botoes-usuario .preset-botao {
    width: 100px;
    padding: 10px 0px;
    margin-left: 5px;
}

#pag-info-usuarios .box-conteudo .box-info-pessoais {
    width: 100%;
    height: 400px;
    padding: 40px;
}

#pag-info-usuarios .box-conteudo .box-info-pessoais section{
    width: 400px;
    height: 600px;
    float: left;
}

#pag-info-usuarios .box-conteudo .box-info-pessoais section .box-dados {
    width: 100%;
    height: 40px;
    margin: 20px;
}

#pag-info-usuarios .box-conteudo .box-info-pessoais section .box-dados label{
    width: 100%;
    float: left;
    font-size: 20px
}

#pag-info-usuarios .box-conteudo .box-info-pessoais section .box-dados-cnh {
    width: 100%;
    height: auto;
    margin: 20px;
}

#pag-info-usuarios .box-conteudo .box-info-pessoais section .box-dados-cnh label{
    width: 100%;
    float: left;
    font-size: 20px;
}

#pag-info-usuarios .box-conteudo #container-publicacoes-pedidos {
    display: none;
}

#pag-info-usuarios .box-conteudo #container-publicacoes-pedidos .box-publicacao {
    width: 220px;
    height: 170px;
    background-color: #a1aec9;
    margin: 20px 25px;
    float: left;
    padding: 5px;
}

#pag-info-usuarios .box-conteudo #container-publicacoes-pedidos .box-publicacao img {
    width: 150px;
    height: 110px;
    margin: 5px 35px;
    background-color: white;
}

#pag-info-usuarios .box-conteudo #container-publicacoes-pedidos .box-publicacao .titulo-publicacao {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

#pag-info-usuarios .box-conteudo #container-publicacoes-pedidos .box-publicacao .status-detalhes {
    width: 100%;
}

#pag-info-usuarios .box-conteudo #container-publicacoes-pedidos .box-publicacao .status-detalhes .status-publicacao {
    width: 190px;
    text-align: center;
    float: left;
}

#pag-info-usuarios .box-conteudo #container-publicacoes-pedidos .box-publicacao .status-detalhes .preset-botao {
    width: 25px;
    height: 20px;
    float: left;
    font-size: 20px;
    border-radius: 15px;
}


#pag-info-usuarios .box-conteudo #container-publicacoes-pedidos .titulo-pedidos {
    margin: 10px 20px;
    font-size: 20px;
}

#pag-info-usuarios .box-conteudo #container-publicacoes-pedidos .box-pedido {
    width: 800px;
    height: 40px;
    margin: 10px 20px;
    border: 1px solid grey;
    font-size: 18px;
    background-color: #a1aec9;
}

#pag-info-usuarios .box-conteudo #container-publicacoes-pedidos .box-pedido .locador-pedido {
    width: 220px;
    height: 100%;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

#pag-info-usuarios .box-conteudo #container-publicacoes-pedidos .box-pedido .data-pedido {
    width: 233px;
    height: 100%;
    float: left;
    padding-top: 10px;
}

#pag-info-usuarios .box-conteudo #container-publicacoes-pedidos .box-pedido .status-pedido {
    width: 220px;
    height: 100%;
    float: left;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}

#pag-info-usuarios .box-conteudo #container-publicacoes-pedidos .box-pedido .preset-botao {
    width: 25px;
    height: 20px;
    float: left;
    margin: 10px 40px;
    font-size: 20px;
    border-radius: 15px;
}

#pag-detalhes-publicacao {
    height: 1200px;
}

#pag-detalhes-publicacao .box-conteudo {
    height: 830px;
}

#pag-detalhes-publicacao .box-conteudo #botao-voltar {
    width: 40px;
    height: 25px;
    font-size: 36px;
    margin-left: 10px;
    line-height: 25px;
    padding: 5px;
}

#pag-detalhes-publicacao .box-conteudo .info-usuario {
    width: 750px;
    height: 40px;
    margin: 10px 25px;
    background-color: #ffffff;
    border: 1px solid #cecece;
    padding: 10px;
    display: inline-block;
}

#pag-detalhes-publicacao .box-conteudo .info-usuario .dados-usuario {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    float: left;
}

#pag-detalhes-publicacao .box-conteudo .container-icone-avaliacoes {
    display: inline-block;
    width: 280px;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}

#pag-detalhes-publicacao .box-conteudo .container-icone-avaliacoes .titulo {
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    float: left;
}

#pag-detalhes-publicacao .box-conteudo .container-icone-avaliacoes .icone-avaliacao {
    background: url(../../img/icones/avaliacao.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
}

#pag-detalhes-publicacao .box-conteudo .box-publicacao {
    width: 850px;
    height: 650px;
}

#pag-detalhes-publicacao .box-conteudo .box-publicacao .separacao {
    width: 1px;
    height: 100%;
    background-color: black;
    float: left;
}

#pag-detalhes-publicacao .box-conteudo .box-publicacao .conteudo-publicacao {
    width: 400px;
    height: 600px;
    float: left;
    padding: 10px;
}

#pag-detalhes-publicacao .box-conteudo .box-publicacao .conteudo-publicacao .titulo-publicacao {
    width: 100%;
    height: 30px;
    font-size: 22px;
}

#pag-detalhes-publicacao .box-conteudo .box-publicacao .conteudo-publicacao .subtitulo {
    width: 100%;
    height: 30px;
    font-size: 20px;
}

#pag-detalhes-publicacao .box-conteudo .box-publicacao .conteudo-publicacao .box-imagens-publicacao  {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
}

#pag-detalhes-publicacao .box-conteudo .box-publicacao .conteudo-publicacao .box-imagens-publicacao  img {
    width: 100px;
    height: 100px;
    margin-left: 2px; 
    margin-right: 2px;
}

#pag-detalhes-publicacao .box-conteudo .box-publicacao .conteudo-publicacao .box-descricao {
    width: 100%;
    height: 200px;
}

#pag-detalhes-publicacao .box-conteudo .box-publicacao .conteudo-publicacao .box-descricao .descricao {
    width: 350px;
    height: 150px;
    border: 1px solid #cecece;
    padding-left: 5px;
    padding-top: 5px;
    background-color: #ffffff;
}

#pag-detalhes-publicacao .box-conteudo .box-publicacao .conteudo-publicacao .container-acessorios {
    width: 100%;
    height: 100px;
}

#pag-detalhes-publicacao .box-conteudo .box-publicacao .conteudo-publicacao .container-acessorios .box-acessorios {
    width: 150px;
    height: 80px;
    border: 1px solid #cecece;
    padding: 10px;
    background-color: #ffffff;
}

#pag-detalhes-publicacao .box-conteudo .box-publicacao .box-imagens-publicacao {
    display: inline-block;
}

#pag-detalhes-publicacao .box-conteudo .lista-pedidos {
    width: 600px;
    height: 250px;
    overflow: auto;
    border: 1px solid #cecece;
    margin: 30px 100px;
    background-color: white;
    float: left;
}

#pag-detalhes-publicacao .box-conteudo .lista-pedidos .pedido {
    width: 600px;
    height: 20px;
    text-align: center;
    border-bottom: 1px solid #cecece;
}

#pag-detalhes-publicacao .box-conteudo .lista-pedidos .pedido .link {
    width: 600px;
    height: 20px;
}

#pag-detalhes-publicacao .box-conteudo .lista-pedidos .pedido .campo-pedido {
    width: 150px;
    height: 20px;
    float: left;
}

#pag-detalhes-publicacao .box-conteudo .lista-pedidos .pedido .data-pedido {
    width: 300px;
    height: 20px;
    float: left;
}

#pag-detalhes-publicacao .box-conteudo .titulo-pedidos {
    width: 100%;
    height: 30px;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 380px;
}

#pag-detalhes-pedido .box-conteudo #botao-voltar {
    width: 40px;
    height: 25px;
    font-size: 36px;
    margin-left: 10px;
    line-height: 25px;
    padding: 5px;
}

#pag-detalhes-pedido .box-conteudo .box-info-pedido {
    width: 400px;
    height: 600px;
    margin: 20px;
    background-color: white;
    padding: 10px;
    border: 1px solid #cecece;
}

#pag-detalhes-pedido .box-conteudo .box-info-pedido .info-pedido {
    width: 100%;
    height: 30px;
    font-size: 20px;
    border-bottom: 1px solid #cecece;
    margin-bottom: 15px;
}

/*=-=-=-=-=-==-=-=-=-=PAGINA DESKTOP-==-=-==-=-=-=-=-=-=-=-*/

#pag-acessorio-veiculo .box-conteudo {
    height: 870px;
    
}

#pag-acessorio-veiculo .box-conteudo #box-novo-registro {
    width: 600px;
    height: 320px;
    margin: 0 auto;
}

#pag-acessorio-veiculo .box-conteudo #box-novo-registro #box-campos-acessorio #titulo-input {
    width: 400px;
}

#pag-acessorio-veiculo .box-conteudo #box-novo-registro #box-campos-acessorio #input-tipo-veiculo {
    width: 200px;
}

#pag-acessorio-veiculo .box-conteudo #box-novo-registro #box-campos-acessorio .botao {
    width: 100px;
    padding: 5px 0px;
}

#pag-acessorio-veiculo .box-conteudo #box-novo-registro #box-campos-acessorio #botoes-acao {
    margin: 10px 0px;
}

#pag-acessorio-veiculo .box-conteudo #box-novo-registro #box-campos-acessorio #box-tipos-veiculo {
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
    height: 200px;
    overflow: auto;
}

#pag-acessorio-veiculo .box-conteudo #box-novo-registro #box-campos-acessorio #botoes-acao #box-cancelar-adicionar {    
    float: right;
}

#pag-acessorio-veiculo .box-conteudo #box-listagem-acessorios {
    height: 670px;
    width: 100% ;
    overflow: auto ;
}

#pag-acessorio-veiculo .box-conteudo #box-listagem-acessorios .ajax-form-table {
    height: 540px;
}

/*=-=-=-=-=-==-=-=-=-=PAGINA ACESSORIO-==-=-==-=-=-=-=-=-=-=-*/

/*=-=-=-=-=-==-=-=-=-=PAGINA Fabricante-==-=-==-=-=-=-=-=-=-=-*/
#pag-fabricante-veiculo .box-conteudo {
    height: 870px;
}

#pag-fabricante-veiculo .box-conteudo #box-novo-registro {
    width: 100% ;
    height: 280px;    
}

#pag-fabricante-veiculo .box-conteudo #box-novo-registro .btn {    
    width: 100px;    
    padding: 5px 0px;
}

#pag-fabricante-veiculo .box-conteudo #box-novo-registro #box-salvar-cancelar {
    width: auto;
    height: 50px;
    float: right ;
    margin-right: 40px;
}

#pag-fabricante-veiculo #box-novo-registro #box-campos-fabricante #box-tipos-veiculo {
    background-color: #cecece;
    height: 100px;
    overflow-y: auto;
    padding: 5px;
    margin: 10px 0px;
    border: 1px solid #bfbfbf;
}

#pag-fabricante-veiculo #box-novo-registro #box-campos-fabricante #box-acoes {
    padding: 0px 5px;
}

#box-listagem-fabricantes .ajax-form-table {
    height: 600px;
}
/*=-=-=-=-=-==-=-=-=-=PAGINA Banco-==-=-==-=-=-=-=-=-=-=-*/
#pag-banco .box-conteudo {
    height: 870px;
}

#pag-banco .box-conteudo #box-novo-registro {
    width: 100% ;
    height: 330px;    
}

#pag-banco .box-conteudo #box-novo-registro .btn {    
    width: 100px;    
    padding: 5px 0px;
}

#pag-banco .box-conteudo #box-novo-registro #box-salvar-cancelar {
    width: auto;
    height: 50px;
    float: right ;
    margin-right: 40px;
}

#pag-banco #box-novo-registro #box-campos-fabricante #box-tipos-veiculo {
    background-color: #cecece;
    height: 100px;
    overflow-y: auto;
    padding: 5px;
    margin: 10px 0px;
    border: 1px solid #bfbfbf;
}

#pag-banco #box-novo-registro #box-campos-fabricante #box-acoes {
    padding: 0px 5px;
}

#box-listagem-fabricantes .ajax-form-table {
    height: 600px;
}

/*=-=-=-=-=-==-=-=-=-=PAGINA ACESSORIO-==-=-==-=-=-=-=-=-=-=-*/

#pag-licenca-desktop .box-conteudo .box-form-licenca {
    margin: 0px 100px;
    background-color: white;
    border: 1px solid #cecece;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

#pag-licenca-desktop .box-conteudo .box-form-licenca input[type="submit"] {
    display: block;
    width: 100px; 
    padding: 5px 0;  
    margin-left: auto;
}

#pag-licenca-desktop .box-conteudo .box-form-licenca .horizontal-input-wrapper {
    display: block;
    width: 300px;
    float: left;
}

#pag-licenca-desktop .box-conteudo .box-form-licenca .horizontal-input-wrapper input {
    margin-top: 5px;
}

#pag-licenca-desktop .box-conteudo .box-form-licenca .preset-botao {
    width: 100px;
    padding: 5px 0px;
    font-size: 15px;
}

/*=-=-=-=-=-==-=-=-=-=PAGINA ACESSORIO-==-=-==-=-=-=-=-=-=-=-*/

/*---- PAGINA ADM DE CONTEÚDO CITY SHARE ----*/

/***************TIPOS DE VEICULO*******************/
#pag-tipo-veiculo {
    height: 790px;
}

#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-form-tipo {
    margin: 0px 100px;
    background-color: white;
    border: 1px solid #cecece;
    padding: 10px;
    margin-bottom: 5px;
}

#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-form-tipo .box-label-input {
    margin-bottom: 20px;
}

#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-form-tipo .box-label-input .label {
    display: block;
}

#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-form-tipo .box-label-input .input {
    width: 600px;
}

#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-form-tipo input[type="submit"] {
    display: block;
    width: 100px; 
    padding: 5px 0;  
    margin-left: auto;
}

#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-form-tipo .horizontal-input-wrapper {
    display: block;
    width: 300px;    
    float: left;
}

#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-form-tipo #box-lista-combustivel,
#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-form-tipo #box-lista-transmissao {
    background-color: #efefef;
    border: 1px solid #d9d9d9;
    margin: 10px 0px;
}

#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-form-tipo .preset-botao {
    width: 100px;
    padding: 5px 0px;
    font-size: 15px;
}

#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-listagem-tipo {
    display: block;
    width: 750px;    
    margin: 0 auto;
}

#pag-tipo-veiculo .box-conteudo .box-tipo-veiculo .box-listagem-tipo .ajax-form-table {
    height: 530px;
}

/***************VEÍCULOS*******************/

#pag-adm-veiculos {
    height: 1020px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo {
    background-color: #ffffff;
    width: 600px;
    height: 255px;
    padding: 5px;
    padding-bottom: 0px;
    border: 1px solid #cecece;
    margin: 0 auto;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper {
    margin: 5px 0px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo #box-cod,
#pag-adm-veiculos .box-conteudo #box-form-veiculo #box-nome {
    display: inline-block;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo #box-cod .input {
    width: 100px;    
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo #box-nome .input {
    width: 480px;    
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo #box-transmissao .input {
    width: 170px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper .box-label-input {
    display: inline-block;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper .box-label-input .input {
    width: 80px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper#box-detalhes #box-preco .input {
    width: 220px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper#box-detalhes .input {
    width: 180px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper#box-filtragem {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 0px;
    margin: 5px 0px;    
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper#box-filtragem .titulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper#box-filtragem .input {
    width: 180px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper#box-acoes {
    padding: 5px 0px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper#box-acoes .botao {
    width: 100px;
    padding: 5px 0px;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo .horizontal-input-wrapper#box-acoes .box-salvar-cancelar {
    float: right;
}

#pag-adm-veiculos .box-conteudo #box-form-veiculo form.js-modo-insert .horizontal-input-wrapper#box-acoes #botao-remover,
#pag-adm-veiculos .box-conteudo #box-form-veiculo form.js-modo-insert .horizontal-input-wrapper#box-acoes #botao-cancelar {
    display: none;
}

#pag-adm-veiculos .box-conteudo #box-filtragem-veiculos {
    background-color: #fff;
    width: 600px;
    border: 1px solid #cecece;
    padding: 5px;
    margin: 5px auto;
}

#pag-adm-veiculos .box-conteudo #box-filtragem-veiculos .horizontal-input-wrapper .box-label-input {
    display: inline-block;
}

#pag-adm-veiculos .box-conteudo #box-filtragem-veiculos .horizontal-input-wrapper .box-label-input .input {
    width: 140px;
}

#pag-adm-veiculos .box-conteudo #box-filtragem-veiculos .horizontal-input-wrapper #box-cod .input {
    width: 100px;
}

#pag-adm-veiculos .box-conteudo #box-filtragem-veiculos .horizontal-input-wrapper #box-preco-medio .input {
    width: 200px;
}

#pag-adm-veiculos .box-conteudo #box-filtragem-veiculos .horizontal-input-wrapper #box-nome .input {
    width: 308px;
}

#pag-adm-veiculos .box-conteudo #box-filtragem-veiculos  #botao-buscar {
    display: block;
    width: 100px;
    padding: 5px 0px;
    margin-top: 5px;
    margin-left: auto;
}

#pag-adm-veiculos .box-conteudo #box-listagem-veiculos {
    display: block;
    width: 750px;
    height: 520px;
    margin: 0 auto;
}

#pag-adm-veiculos .box-conteudo #box-listagem-veiculos .ajax-form-table tr .form-coluna1,
#pag-adm-veiculos .box-conteudo #box-listagem-veiculos .ajax-form-table tr td.form-campo1 {
    width: 53px;
}

#pag-adm-veiculos .box-conteudo #box-listagem-veiculos .ajax-form-table {
    height: 520px;
}

/*---- PAGINA ADM DE VEICULOS CITY SHARE ----*/

#pag-categorias-veiculos {
    height: 850px;   
}

#pag-categorias-veiculos .box-conteudo #box-form-categoria {
    background-color: #ffffff;
    width: 405px;
    height: 190px;
    padding: 5px;
    padding-bottom: 0px;
    border: 1px solid #cecece;
    margin: 0 auto;
}

#pag-categorias-veiculos .box-conteudo  #box-listagem-categorias #container-ajax-form-table .ajax-form-table {
    height: 550px;
}

#pag-categorias-veiculos .box-conteudo  #box-listagem-categorias #container-ajax-form-table .ajax-form-table tr td {
    width: 172px;
}

#pag-categorias-veiculos .box-conteudo #box-form-categoria #form-modificacao #box-acoes #box-salvar-cancelar {
    float: right;
}

#pag-categorias-veiculos .box-conteudo #box-form-categoria #form-modificacao #box-acoes .botao {
    width: 100px;
    padding: 5px 0px;
}

#pag-categorias-veiculos .box-conteudo #box-form-categoria #form-modificacao.js-modo-insert #box-acoes #botao-remover,
#pag-categorias-veiculos .box-conteudo #box-form-categoria #form-modificacao.js-modo-insert #box-acoes #box-salvar-cancelar #botao-cancelar {
    display: none;
}

/*---- PAGINA ADM DE CATEGORIAS DE VEICULO CITY SHARE ----*/

#pag-tipo-cartao {
    height: 850px;   
}

#pag-tipo-cartao .box-conteudo #box-form-categoria {
    background-color: #ffffff;
    width: 405px;
    height: 118px;
    padding: 5px;
    padding-bottom: 0px;
    border: 1px solid #cecece;
    margin: 10px auto;
}

#pag-tipo-cartao .box-conteudo  #box-listagem-categorias #container-ajax-form-table .ajax-form-table {
    height: 550px;
}

#pag-tipo-cartao .box-conteudo  #box-listagem-categorias #container-ajax-form-table .ajax-form-table tr td {
    width: 172px;
}

#pag-tipo-cartao .box-conteudo #box-form-categoria #form-tipo-cartao #box-acoes #box-salvar-cancelar {
    float: right;
}

#pag-tipo-cartao .box-conteudo #box-form-categoria #form-tipo-cartao #box-acoes .botao {
    width: 100px;
    padding: 5px 0px;

}

#pag-tipo-cartao .box-conteudo #box-form-categoria #form-tipo-cartao #box-acoes {
    margin: 5px 0px;
}

#pag-tipo-cartao .box-conteudo #box-form-categoria #form-tipo-cartao.js-modo-insert #box-acoes #box-salvar-cancelar {
    float: right;
}

#pag-tipo-cartao .box-conteudo #box-form-categoria #form-tipo-cartao.js-modo-insert #box-acoes #botao-remover,
#pag-tipo-cartao .box-conteudo #box-form-categoria #form-tipo-cartao.js-modo-insert #box-acoes #box-salvar-cancelar #botao-cancelar {
    display: none;
}

/*---- PAGINA ADM DE PLANO DE CONTA CITY SHARE ----*/

#pag-plano-conta {
    height: 850px;   
}

#pag-plano-conta .box-conteudo #box-form-categoria {
    background-color: #ffffff;
    width: 405px;
    height: auto;
    padding: 5px;
    padding-bottom: 0px;
    border: 1px solid #cecece;
    margin: 0 auto;
}

#pag-plano-conta .box-conteudo  #box-listagem-categorias #container-ajax-form-table .ajax-form-table {
    height: 550px;
}

#pag-plano-conta .box-conteudo  #box-listagem-categorias #container-ajax-form-table .ajax-form-table tr td {
    width: 172px;
}

#pag-plano-conta .box-conteudo #box-form-categoria #form-modificacao #box-acoes #box-salvar-cancelar {
    float: right;
}

#pag-plano-conta .box-conteudo #box-form-categoria #form-modificacao #box-acoes .botao {
    width: 100px;
    padding: 5px 0px;
}

#pag-plano-conta .box-conteudo #box-form-categoria #form-modificacao.js-modo-insert #box-acoes #botao-remover,
#pag-plano-conta .box-conteudo #box-form-categoria #form-modificacao.js-modo-insert #box-acoes #box-salvar-cancelar #botao-cancelar {
    display: none;
}
/************CRUD FALE CONOSCO *********/
#pag-fale-conosco {
    height: 850px;   
}
#pag-fale-conosco #filtrar-por {
    font-size: 18px;
    margin-left: 50px;
    height: 50px;    
    float: right ;
    overflow: auto ;
}
#pag-fale-conosco #filtrar-por select {
    
}
#pag-fale-conosco #listagem-contatos-feitos{
    width: 100% ;
    height: 730px;
    overflow: auto ;
}
#pag-fale-conosco #listagem-contatos-feitos a {
    text-decoration: none ;
    background-color: black ;
    
}
#pag-fale-conosco #listagem-contatos-feitos .item-contato {
    margin:  0 auto ;
    width: 700px;
    height: 30px;
    margin-bottom: 5px ;
    background-color: #cecece;
    color:  #202020 ;
}

#pag-fale-conosco #listagem-contatos-feitos .item-contato .nome-contato {
    float: left ;
    height: 30px; 
    line-height: 30px;
    width: 400px;
    
}
#pag-fale-conosco #listagem-contatos-feitos .assunto-contato {
    float: left ;
    height: 30px; 
    line-height: 30px;
    width: 300px;

}
#pag-resposta-contato{
    height: 850px; 
}
#pag-resposta-contato #base-resposta {
    width: 600px;
    height: 400px ;
    margin: 0 auto ;
    padding-top: 20px;
} 
#pag-resposta-contato #base-resposta p {
    padding-left: 50px;
	height :50px ;
    font-size: 20px;
}
#pag-resposta-contato #base-resposta textarea {
	height:100px; 
	width : 300px ; 
	margin : 0 auto ; 
}
/*---- PAGINA ADM DE CATEGORIAS DE VEICULO CITY SHARE ----*/

footer {
    background-color: #202020;
    width: 1070px;
    height: 200px;
    margin: 0 auto;
    padding: 5px;    
}

footer #box-rodape {
    width: inherit;
    height: inherit;
}

footer #box-rodape #box-logo-rodape {
    width: 250px;
    height: 200px;
}

.CMS_main {
    width: 1080px;
    height: 100%;
    background-color: #ebebeb;
}

/*---- PAGINA PUBLICAÇÕES ----*/

#pag-publicacao {
    height: 1020px;
}

#pag-publicacao .box-publicacao-preview {
    width: 815px;
    height: 100px;
    margin-left: 5px;
    background-color:#a1aec9;
    float: left;
    border-radius: 2px;
    margin: 5px 5px;
}

#pag-publicacao .box-publicacao-preview .box-publicacao-imagem {
    width: 120px;
    height: 80px;
    margin: 10px;
    float: left;
}

#pag-publicacao .box-publicacao-preview .box-publicacao-imagem .publicacao-imagem {
    width: 120px;
    height: 80px;
    
}

#pag-publicacao .box-publicacao-preview .box-publicacao-dados {
    width: 331px;
    height: 100px;
    float: left;
    margin-top: 10px;
    
}

#pag-publicacao .box-publicacao-preview .box-publicacao-status {
    text-align: right;
    width: 324px;
    height: 90px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

#pag-publicacao-detalhes .box-publicacao {
    width: 815px;
    height: 725px;
    margin-left: 5px;
    background-color: white;
    border: 1px solid #cecece;
    float: left;
    border-radius: 2px;
}

#pag-publicacao-detalhes .box-publicacao .boxes-publicacao {
    margin: 5px;
    width: 800px;
    height: 50px;
    line-height: 50px;
    margin-left: 15px;
    font-size: 20px;
}

 #pag-publicacao-detalhes .box-publicacao #nome-publicacao {
    font-size: 23px;
    text-align: center;
}

#pag-publicacao-detalhes .box-publicacao #imagens-publicacao {
    border: solid 1px #000000;
    margin: 5px;
    width: 800px;
    height: 120px;
    line-height: 50px;
}

#pag-publicacao-detalhes .box-publicacao #imagens-publicacao img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

#pag-publicacao-detalhes .box-publicacao #botoes-publicacao {
    margin: 0px 300px;
}

#pag-publicacao-detalhes .box-publicacao #botoes-publicacao .preset-botao {
    width: 70px;
    height: 25px;
    line-height: 25px;
    margin: 0px 10px;
}
